<% provide(:title, 'Contact') %>

<div class="jumbotron jumbotron-static">

  <h1>Contact</h1>
  <div class="panel panel-default">

    <br><br>
    <p style="font-size: 20px" class="text-center"> For more information on the Gastric Cancer Registry, visit <a href="https://gcregistry.stanford.edu/" target="_blank">https://gcregistry.stanford.edu/</a></p>

    <p style="font-size: 20px" class="text-center"> You may also contact the research team directly through email: <a href="mailto:gcregistry@stanford.edu"> gcregistry@stanford.edu</a></p>


    <br>
    </div><!-- /panel body -->
  </div><!-- /panel -->

</div>



