<% provide(:title, 'Contact') %>

<div class="jumbotron jumbotron-static">
  <h1>Contact</h1>
  <div class="panel panel-default">
  <div class="panel-body">
    <p> <strong> For any queries and comments, please contact: </strong></p>
    <p>Stephanie Greer: <%= mail_to "sgreer2@stanford.edu" %></p>
    <p>Sue Grimes: <%= mail_to "sgrimes@stanford.edu" %></p>
    <p>HoJoon Lee: <%= mail_to "hojoon@stanford.edu" %></p>
  </div><!-- /panel body -->
  </div><!-- /panel -->
</div>



