<% provide(:title, 'Data releases') %>

<div class="jumbotron jumbotron-static">
<h1>Data Releases</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <h2>GCR samples</h2>

    <table id="data_release_gcr" class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th class="text-center">Release#</th>
        <th class="text-center">Release Date</th>
        <th class="text-center">Cancer</th>
        <th class="text-center">New Cases</th>
        <th class="text-center">Total WES samples&sup1</th>
        <th class="text-center">Total WGS samples&sup1</th>
        <th class="text-center">Total RNAseq samples&sup1</th>
      </tr>
    </thead>
    <tbody>
      <% totals = [0,0,0,0] %>
      <% for cohort in @study_samples %>
      <tr>
        <td class="text-center"><%= cohort.release_num %></td>
        <td class="text-center"><%= cohort.release_mth_yr %></td>
        <td class="text-center"><%= cohort.cancer_study.cancer_abbr %></td>
        <td class="text-center"><%= cohort.total_samples %></td>
        <td class="text-center"><%= cohort.wes_samples %></td>
        <td class="text-center"><%= cohort.wgs_samples %></td>
        <td class="text-center"><%= cohort.rna_samples %></td>
      </tr>
      <% row_vals = [cohort.total_samples, cohort.wes_samples, cohort.wgs_samples, cohort.rna_samples]  %>
      <% totals = [totals, row_vals].transpose.map(&:sum) %>
      <% end %>
      <tr>
        <td colspan="2"></td>
        <td class="text-right">Total</td>
        <td class="text-center"><%= totals[0] %></td>
        <td class="text-center"><%= totals[1] %></td>
        <td class="text-center"><%= totals[2] %></td>
        <td class="text-center"><%= totals[3] %></td>
      </tr>
    </tbody>
    </table>
    <div>
      <span class="footnotes"><sup style="font-size:75%">1</sup>Sample numbers for release 1 and 5 are tumor only; release 2-4 sample numbers are for matched tumor/normal pairs</span>
    </div>
</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <h2>TCGA samples</h2>

    <table id="data_release_tcga" class="table table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th class="text-center">Release#</th>
        <th class="text-center">Release Date</th>
        <th class="text-center">Cancer</th>
        <th class="text-center">Total Cases</th>
        <th class="text-center">Total WES samples</th>
        <th class="text-center">Total WGS samples</th>
        <th class="text-center">Total RNAseq samples</th>
      </tr>
      </thead>
      <tbody>
      <% for cohort in @tcga_samples %>
        <tr>
          <td class="text-center"><%= cohort.release_num %></td>
          <td class="text-center"><%= cohort.release_mth_yr %></td>
          <td class="text-center"><%= cohort.cancer_study.cancer_abbr %></td>
          <td class="text-center"><%=cohort.total_samples %></td>
          <td class="text-center"><%=cohort.wes_samples %></td>
          <td class="text-center"><%=cohort.wgs_samples %></td>
          <td class="text-center"><%=cohort.rna_samples %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

</div>
