<% provide(:title, 'Data releases') %>

<div class="jumbotron jumbotron-static">
<h1>Data Releases</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <h2>IMH samples</h2>

    <table id="data_release_imh" class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th class="text-center">Release#</th>
        <th class="text-center">Release Date</th>
        <th class="text-center">Study</th>
        <th class="text-center">Cancer</th>
        <th class="text-center">Total Samples</th>
        <th class="text-center">Total WES samples</th>
        <th class="text-center">Total WGS samples</th>
        <th class="text-center">Total RNAseq samples</th>
      </tr>
    </thead>
    <tbody>
      <% for cohort in @study_samples %>
      <tr>
        <td class="text-center"><%= cohort.release_num %></td>
        <td class="text-center"><%= cohort.release_mth_yr %></td>
        <td class="text-center">IMH</td>
        <td class="text-center"><%= cohort.cancer_study.cancer_abbr %></td>
        <td class="text-center"><%= cohort.total_samples %></td>
        <td class="text-center"><%= cohort.wes_samples %></td>
        <td class="text-center"><%= cohort.wgs_samples %></td>
        <td class="text-center"><%= cohort.rna_samples %></td>
      </tr>
      <% end %>
      <% for cohort in @tcga_samples %>
      <tr>
        <td class="text-center"><%= cohort.release_num %></td>
        <td class="text-center"><%= cohort.release_mth_yr %></td>
        <td class="text-center">TCGA</td>
        <td class="text-center"><%= cohort.cancer_study.cancer_abbr %></td>
        <td class="text-center"><%= cohort.total_samples %></td>
        <td class="text-center"><%= cohort.wes_samples %></td>
        <td class="text-center"><%= cohort.wgs_samples %></td>
        <td class="text-center"><%= cohort.rna_samples %></td>
      </tr>
      <% end %>
    </tbody>
    </table>
  </div>
</div>

</div>
