<% provide(:title, 'Project overview') %>

<div class="jumbotron jumbotron-static">
  <h1>Project overview</h1>
  <div class="panel panel-default">
    <div class="panel-body">

      <h2>GCR data analysis</h2>

      <p style="font-size: 20px;"> <span class = "badge badge-mutn">Mutations:</span>  <strong>Sentieon TNHaplotyper</strong> (equivalent to MuTect2) &rarr; vcf files &rarr; <strong>vcf2maf</strong> to convert vcf files to maf files &rarr; maf files</p>
      <p style="font-size: 20px;"><span class = "badge badge-mutn">Copy Number:</span>   <strong>CNVkit</strong> &rarr; copy number segment (.cns) files &rarr; <strong>GISTIC</strong> to generate copy number scores &rarr; focal data by gene files </p>
      <p style="font-size: 20px;"><span class = "badge badge-mutn">RNA Expression:</span>    <strong>HTseq</strong> &rarr; counts &rarr; <strong>python</strong> script to convert counts to FPKM based on gene lengths &rarr; FPKM</p>
      <p style="font-size: 20px;"><span class = "badge badge-mutn">Immune cells:</span>    FPKM (RNA Expression above) &rarr; <strong>CIBERSORT</strong> &rarr; immune cell proportions per patient</p>
      <p style="font-size: 20px;"><span class = "badge badge-mutn">Microbiome:</span>   RNA fastq files &rarr; taxonomic classification (<strong>kraken2</strong>) &rarr; relative abundances (<strong>bracken</strong>)</p>
      <p style="font-size: 20px;"><span class = "badge badge-mutn">HLA types:</span>    RNA fastq files &rarr; <strong>Yara aligner</strong> &rarr; bam files &rarr; <strong>OptiType</strong> &rarr; HLA types per patient</p>
      <p style="font-size: 20px;"><span class = "badge badge-mutn">Neoantigens:</span>    variants (Mutations above) &rarr; <strong>python</strong> scripts to generate neoantigens &rarr; neoantigens + HLA types (above) &rarr; <strong>NetMHCpan</strong> &rarr; HLA/neoantigen binding strength predictions</p>


    </div>
  </div>
      <br>
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>TCGA data analysis</h2>

      <p style="font-size: 20px;"> <strong>The following files were downloaded via the GDC portal: </strong></p>

      <p style="font-size: 20px;"> <span class = "badge badge-mutn">Mutations:</span>    simple nucleotide variation &rarr; maf files </p>
      <p style="font-size: 20px;"><span class = "badge badge-mutn">Copy Number:</span> copy number variation &rarr; gistic copy number scores </p>
      <p style="font-size: 20px;"><span class = "badge badge-mutn">RNA Expression:</span>    transcriptome profiling &rarr; HTSeq - FPKM </p>

      <p style="font-size: 20px;"> <strong>Additional analyses performed on the data: </strong></p>
      <p style="font-size: 20px;"><span class = "badge badge-mutn">Immune cells:</span>    FPKM (RNA Expression above) &rarr; <strong>CIBERSORT</strong> &rarr; immune cell proportions per patient</p>
      <p style="font-size: 20px;"><span class = "badge badge-mutn">Microbiome:</span>   RNA fastq files &rarr; taxonomic classification (<strong>kraken2</strong>) &rarr; relative abundances (<strong>bracken</strong>)</p>
      <p style="font-size: 20px;"><span class = "badge badge-mutn">HLA types:</span>    RNA fastq files &rarr; <strong>Yara aligner</strong> &rarr; bam files &rarr; <strong>OptiType</strong> &rarr; HLA types per patient</p>
      <p style="font-size: 20px;"><span class = "badge badge-mutn">Neoantigens:</span>    variants (Mutations above) &rarr; <strong>python</strong> scripts to generate neoantigens &rarr; neoantigens + HLA types (above) &rarr; <strong>NetMHCpan</strong> &rarr; HLA/neoantigen binding strength predictions</p>


</div>
    </div><!-- /panel body -->
  </div><!-- /panel -->
</div>
