

<div class="container container-login" >
  <div class="jumbotron jumbotron-signup" >
    <div class="container" align="center">
      <%= image_tag(Portal::Config::Info['welcome_image'], class: Portal::Config::Info['img-session']) %>
    </div>

    <h2>New user registration</h2>
    <div class="panel panel-default">

      <br>

      <p> To request access to the GCR genome explorer, please complete this short questionnaire: <a href="https://redcap.stanford.edu/surveys/?s=MLRXWCKR4A" target="_blank"> https://redcap.stanford.edu/surveys/?s=MLRXWCKR4A</a> </p>

      <p> Your questionnaire will be reviewed by the GCR team, and you should receive a response within 2 business days. </p>

      <p> Please email us if you have any questions: <a href="mailto:gcregistry@stanford.edu"> gcregistry@stanford.edu</a> </p>



      <br>
    </div><!-- /panel body -->
  </div><!-- /panel -->

</div>



