

<div class="container container-login" >
  <div class="jumbotron jumbotron-signup" >
    <div class="container" align="center">
      <%= image_tag(Portal::Config::Info['welcome_image'], class: Portal::Config::Info['img-session']) %>
    </div>

    <h2>New user registration</h2>
    <div class="panel panel-default">

      <br>

      <p> To request access to the IPG cancer genome portal, please contact: </p>

      <p> <a href="mailto:sgrimes@stanford.edu"> Sue Grimes</a> </p>

      <p> <a href="mailto:sgreer2@stanford.edu"> Stephanie Greer</a> </p>

      <br>
    </div><!-- /panel body -->
  </div><!-- /panel -->

</div>



