<div class="container container-login" align="center" >
  <div class="jumbotron jumbotron-login" >
    <div class="container" align="center">
      <%= image_tag(Portal::Config::Info['welcome_image'], class: Portal::Config::Info['img-session']) %>
    </div>

    <h2 style="font-size: 25px;">Resend confirmation instructions</h2>
    <br />

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field field-login" align="left">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), :size=>"35" %>
      </div>

      <br />

      <div class="actions">
        <%= f.submit "Resend confirmation instructions", class: "btn btn-primary btn-md btn-submit btn-login" %>
      </div>
    <% end %>
    <br />
    <div align="left">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>