<div class="col-md-8">
  <%= render 'shared/gene_filter', radio_class: 'gene_radio', radio_name: 'gene_filter_cnv' %>
  <div class="table-responsive" style="padding-left: 15px; padding-right: 15px;">
    <table id="sample_cnv_table" data-formqueryrequest="" class="table table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th class="text-center">Patient</th>
        <th class="text-center">Type</th>
        <th class="text-center">Gene</th>
        <th></th>
        <th class="text-center">Cytoband</th>
        <th class="text-center">Oncogene?</th>
        <th class="text-center">TSG?</th>
        <th class="text-center">CN</th>
        <th class="text-center">CN log2</th>

      </tr>
      </thead>

      <tbody>
      <% @cnvs.each do |cnv| %>
        <tr>
          <td class="text-center no-wrap"><%= cnv.patient_nr %></td>
          <td class="text-center"><%= cnv.sample_type %></td>
          <td class="text-center"><%= cnv.gene_name %></td>
          <% if cnv.gene %>  <!-- should always exist, might not need this test? -->
            <td class="text-center"><%= cnv.gene.cancer_assoc %></td>
            <td class="text-center"><%= cnv.gene.cytoband %></td>
            <td class="text-center"><%= cnv.gene.oncogene %></td>
            <td class="text-center"><%= cnv.gene.tumor_suppressor %></td>
          <% else %>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          <% end %>
          <% cn_color = cnv.copy_num == 1 ? '#ff0000' : "#3487dd" %>
          <% cn_type = cnv.copy_num == 1 ? 'amp' : (cnv.copy_num < 0 ? 'del' : '') %>
          <td class="text-center" style="color: <%= cn_color %>"><%= cn_type %></td>
          <td class="text-center"><%= cnv.log2_fc %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
    var filter_cols = [-1,3,5,6]
    var table = $('#sample_cnv_table').DataTable({
        language: {
            "emptyTable": "<%= @no_cnv_text %>"
        },
        autoWidth: false,
        columnDefs: [
            { targets: [3], "visible": false }
        ],
        searchCols: [
            null, null, null, { search: "Y" }
        ]
    });
    geneFilter('gene_filter_cnv', table, filter_cols);
</script>
