<div class="col-md-8">
  <%= render 'shared/gene_filter', radio_class: 'gene_radio', radio_name: 'gene_filter_expr' %>
  <div class="table-responsive" style="padding-left: 15px; padding-right: 15px;">
    <table id="sample_expr_table" class="table table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th class="text-center">Patient</th>
        <th class="text-center">Type</th>
        <th class="text-center">Gene</th>
        <th></th>
        <th class="text-center">Cytoband</th>
        <th class="text-center">Oncogene?</th>
        <th class="text-center">TSG?</th>
        <th class="text-center">Expr Level</th>
        <th class="text-center">FPKM</th>
      </tr>
      </thead>

      <tbody>
      <% @rna_expr.each do |rna| %>
        <tr>
          <td class="text-center"><%= rna.patient_nr %></td>
          <td class="text-center"><%= rna.sample_type %></td>
          <td class="text-center"><%= rna.gene_name %></td>
          <% if rna.gene %>
            <td class="text-center"><%= rna.gene.cancer_assoc %></td>
            <td class="text-center"><%= rna.gene.cytoband %></td>
            <td class="text-center"><%= rna.gene.oncogene %></td>
            <td class="text-center"><%= rna.gene.tumor_suppressor %></td>
          <% else %>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          <% end %>
          <td class="text-center"><%= rna.expr_level %></td>
          <td class="text-center"><%= rna.htseq_fpkm %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
    var filter_cols = [-1,3,5,6]
    var table = $('#sample_expr_table').DataTable({
        autoWidth: false,
        orderClasses: false,
        columnDefs: [
            { targets: [3], "visible": false }
        ],
        searchCols: [
            null, null, null, { search: "Y" }
        ]
    });
    geneFilter('gene_filter_expr', table, filter_cols);
</script>
