<div class="col-md-8">
  <%= render 'shared/gene_filter', radio_class: 'gene_radio', radio_name: 'gene_filter_expr' %>
  <div class="table-responsive" style="padding-left: 15px; padding-right: 15px;">
    <table id="sample_expr_table" class="table table-striped table-bordered table-condensed">
    </table>
  </div>
</div>

<script>
    var filter_cols = [-1,3,5,6]
    var table = $('#sample_expr_table').DataTable({
        ajax: "/get_gene_expr_data?sample_id=<%=@sample_ids%>",
        columns: [
            {title: 'Patient', data: 'patient_nr', class: 'text-center'},
            {title: 'Type', data: 'sample_type', class: 'text-center'},
            {title: 'Gene', data: 'gene_name', class: 'text-center'},
            {title: '', data: 'gene.cancer_assoc'},
            {title: 'Cytoband', data: 'gene.cytoband', class: 'text-center'},
            {title: 'Oncogene?', data: 'gene.oncogene', class: 'text-center'},
            {title: 'TSG?', data: 'gene.tumor_suppressor', class: 'text-center'},
            {title: 'Expr Level', data: 'expr_level', class: 'text-center'},
            {title: 'FPKM', data: 'htseq_fpkm', class: 'text-center'}
        ],
        deferRender: true,
        autoWidth: false,
        columnDefs: [
            { targets: [3], "visible": false }
        ],
        searchCols: [
            null, null, null, { search: "Y" }
        ],
        pagingType: "full"
    });
    geneFilter('gene_filter_expr', table, filter_cols);
</script>
