<div id="selector_mbiome" class="btn-group">
  <button type="button" class="btn active btn-xs btn-toggle">Plot</button>
  <button type="button" class="btn btn-xs btn-toggle">Table</button>
</div>
<br />

<% mbiome_total = @genus_cts.sum(:read_cts) %>

<% taxonomy = ['Kingdom', 'Phylum', 'Class', 'Order', 'Family', 'Genus', 'Species'] %>
<% x_categories = [''] * 61; (0..6).each do |i|; x_categories[i*10] = taxonomy[i]; end %>

<div id="mbiome_plot">
  <% if @mbiome_sankey.size > 0 %>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <%= tag.div id: "sample_mbio_chart_container", style: "height:600px; margin: auto; min-width: 100%; max-width: 100%;",
                      data: {'title-text': [@pt_samples.patient_nr,' Microbiome'].join, 'x-categories': x_categories,
                             'chart-series': @mbiome_sankey, 'chart-colors': PlotInfo::PLOT_COLORS[:multi_10]} do %><% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div>
      <p>No microbiome data available for this patient/sample</p>
    </div>
  <% end %>
</div>

<div id="mbiome_table" style="display: none">
  <div class="col-md-8">
    <div class="table-responsive" style="padding-left: 15px; padding-right: 15px;">
      <table id="sample_mbio_table" data-formqueryrequest="" class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
          <th class="text-center">Patient</th>
          <th class="text-center">Type</th>
          <th class="text-center">Genus</th>
          <th class="text-center">Species</th>
          <th class="text-center">Top10?</th>
          <th class="text-center">Read Cts</th>
          <th class="text-center">Read %</th>
        </tr>
        </thead>

        <tbody>
        <% @genus_cts.each do |genus| %>
          <tr>
            <td class="text-center no-wrap"><%= genus.patient_nr %></td>
            <td class="text-center"><%= genus.sample_type %></td>
            <td class="text-center"><%= genus.taxo_parent[3..-1] %></td>
            <td class="text-center"><%= genus.taxo_name[3..-1] %></td>
            <td class="text-center"><%= genus.is_top10 %></td>
            <td class="text-center"><%= genus.read_cts %></td>
            <td class="text-center"><%= format_pct(genus.read_cts, mbiome_total, 4)%></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
    var filter_cols = [1,3,5,7]
    var table = $('#sample_mbio_table').DataTable({
        autoWidth: false
    });

    var title_text = $('#sample_mbio_chart_container').data('title-text');
    var x_categories = $('#sample_mbio_chart_container').data('x-categories');
    var chart_series = $("#sample_mbio_chart_container").data('chart-series');
    var chart_colors = $('#sample_mbio_chart_container').data('chart-colors');

    Highcharts.chart('sample_mbio_chart_container', {
        chart: {
            showAxes: true,
            marginRight: 80,
            marginLeft: 40
        },
        title: {
            text: title_text,
            style: {
                fontSize: 24
            }
        },
        xAxis: {
            type: "category",
            offset: 10,
            tickPositions: [0,10,20,30,40,50,60],
            showLastLabel: true,
            startonTick: false,
            endOnTick: true,
            categories: x_categories,
            labels: {
                x: 0,
                y: 30,
                style: {
                    fontSize: 14
                }
            },
            lineColor: '#e5e5e5',
            tickColor: '#e5e5e5',
            tickLength: 10,
            tickWidth: 5,
            tickPosition: 'outside',
            tickmarkPlacement: 'on'
        },
        yAxis: {
            visible: false
        },
        series: [{
            keys: ['from', 'to', 'weight'],
            data: chart_series,
            type: 'sankey',
            name: 'taxonomy level',
            dataLabels: {
                nodeFormatter: function () {
                    return this.point.name.substring(3)
                },
                style: {
                    width: '150px',
                    textOverflow: 'ellipsis'
                },
                overflow: 'allow'
            },
            pointPlacement: 'between'
        }],
        colors: chart_colors,
        credits: { enabled: false }
    });

    toggleDiv('selector_mbiome', 'mbiome_plot', 'mbiome_table');

</script>

