<div class="col-md-12">
  <%= render 'shared/gene_filter', radio_class: 'gene_radio', radio_name: 'gene_filter_mut' %>
  <div class="table-responsive" style="padding-left: 15px; padding-right: 15px;">
    <table id="sample_mut_table" class="table table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th class="text-center">Patient</th>
        <th class="text-center">Type</th>
        <th class="text-center">Gene</th>
        <th></th>
        <th class="text-center">Oncogene?</th>
        <th class="text-center">TSG?</th>
        <th class="text-center">Chr</th>
        <th class="text-center">Pos</th>
        <th class="text-center">Ref</th>
        <th class="text-center">Alt</th>
        <th class="text-center">VarType</th>
        <th class="text-center">Classification</th>
        <th class="text-center">AAChange</th>
      </tr>
      </thead>

      <tbody>
      <% @mutations.each do |mut| %>
        <tr>
          <td class="text-center"><%= mut.patient_nr %></td>
          <td class="text-center"><%= mut.sample_type %></td>
          <td class="text-center"><%= mut.gene_name %></td>
          <td class="text-center"><%= mut.gene.cancer_assoc %></td>
          <td class="text-center"><%= mut.gene.oncogene %></td>
          <td class="text-center"><%= mut.gene.tumor_suppressor %></td>
          <td class="text-center"><%= mut.chr %></td>
          <td class="text-center"><%= mut.chr_start+1 %></td>

          <% [mut.ref_allele, mut.alt_allele].each do |fld| %>
            <td class="text-center text-nowrap">
              <% if fld.length < 5 %>
                <%= fld %>
              <% else %>
                <button class="btn btn-xs btn-default long-indel" data-toggle="tooltip" title="<%= fld %>">
                  <%= truncate_with_ellipsis(fld) %></button></td>
              <% end %>
          <% end %>

          <td class="text-center"><%= mut.var_type %></td>
          <td class="text-center"><%= mut.var_classification %></td>
          <td class="text-center"><%= mut.protein_change %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
    var filter_cols = [-1,3,4,5]
    var table = $("#sample_mut_table").DataTable({
        autoWidth: false,
        columnDefs: [
            { targets: [3], "visible": false },
            { type: 'natural', targets: 6 }
        ],
        searchCols: [
            null, null, null, { search: "Y" }
        ]
    });
    indelTooltip();
    geneFilter('gene_filter_mut', table, filter_cols);
</script>
