<div class="col-md-12">
  <div class="table-responsive" style="padding-left: 15px; padding-right: 15px;">
    <table id="sample_neo_table" data-formqueryrequest="" class="table table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th class="text-center">Patient</th>
        <th class="text-center">Type</th>
        <th class="text-center">Gene</th>
        <th class="text-center">ChrPos</th>
        <th class="text-center">Ref/Alt</th>
        <th class="text-center">VarType</th>
        <th class="text-center">Classification</th>
        <th class="text-center">AAChange</th>
        <th class="text-center">Mut TPM</th>
        <th class="text-center">Neoantigen</th>
        <th class="text-center">HLA Allele</th>
        <th class="text-center">Bind Strength</th>
        <th class="text-center">Bind Rank</th>
      </tr>
      </thead>

      <tbody>
      <% @neoantigens.each do |mut| %>
        <% mut.sample_neoantigens.each do |neo| %>
          <% neo.sample_hla_bindings.each do |bind| %>
            <tr>
              <% binding_color_patient = hla_bind_strength(bind.binding_rank) == 'strong' ? '#f00' : '#0000FF' %>
              <td class="text-center"><%= mut.patient_nr %></td>
              <td class="text-center"><%= mut.sample_type %></td>
              <td class="text-center"><%= mut.gene_name %></td>
              <td class="text-center"><%= neo.chr_pos %></td>
              <td class="text-center text-nowrap">
                <% if neo.ref_alt.length > 8 %>
                  <button class="btn btn-xs btn-default" data-toggle="popover" title="<%= neo.ref_alt %>">
                    <%= truncate_with_ellipsis(neo.ref_alt,8) %></button>
                <% else %>
                  <%= neo.ref_alt %>
                <% end %>
              </td>
              <td class="text-center"><%= mut.var_type %></td>
              <td class="text-center"><%= mut.var_classification %></td>
              <td class="text-center"><%= mut.protein_change %></td>
              <td class="text-center"><%= mut.mutation_tpm %></td>
              <td class="text-center"><%= neo.neoantigen_9mer %></td>
              <td class="text-center"><%= bind.hla_allele %></td>
              <td class="text-center" style="color: <%= binding_color_patient %>"><%= hla_bind_strength(bind.binding_rank) %></td>
              <td class="text-center"><%= bind.binding_rank %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
    indelTooltip();
    $("#sample_neo_table").DataTable({
        columnDefs: [
            { type: 'natural', targets: 6 }
        ]
    });
</script>
