<div class="table-responsive" style="padding-left: 15px; padding-right: 15px;">
  <table id="sample_clinical_table" data-formqueryrequest="" class="table table-striped table-bordered table-condensed" style="width: 60%;">
    <thead>
    <tr>
      <th class="text-center">Patient</th>
      <th class="text-center">Gender</th>
      <th class="text-center">Race</th>
      <th class="text-center">Smoker?</th>
      <th class="text-center">Family History</th>
      <th class="text-center">Cancer Site</th>
      <th class="text-center">Site Dtl</th>
      <th class="text-center">Diagnosis</th>
      <th class="text-center">Subtype</th>
      <th class="text-center">Differentiation</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td class="text-center"><%= @pt_samples.patient_nr %></td>
      <td class="text-center"><%= @pt_samples.gender %></td>
      <td class="text-center"><%= @pt_samples.race_ethnicity %></td>
      <td class="text-center"><%= @pt_samples.smoking_history %></td>
      <td class="text-center"><%= @pt_samples.gc_history %></td>
      <td class="text-center"><%= @pt_samples.cancer_site %></td>
      <td class="text-center"><%= @pt_samples.cancer_site_dtl %></td>
      <td class="text-center"><%= @pt_samples.diagnosis %></td>
      <td class="text-center"><%= @pt_samples.diagnosis_subtype %></td>
      <td class="text-center"><%= @pt_samples.differentiation %></td>
    </tr>
    </tbody>
  </table>
</div>
