<%= render "summary_table_#{@study_fmt}" %>

<% if @patient_hla.hla_types.size > 0%>
  <div class="table-responsive" style="padding-left: 15px; padding-right: 15px;">
    <table id="patient_hla_table" style="width: 50%;" class="table table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th class="text-center">Patient</th>
        <th class="text-center">HLA-A</th>
        <th class="text-center">HLA-B</th>
        <th class="text-center">HLA-C</th>
      </tr>
      </thead>

      <tbody>
      <% pt_hla_groups = @patient_hla.hla_types.group_by{|hla| hla.hla_gene } %>
      <tr>
        <td class="text-center"><%= @patient_hla.patient_nr %></td>
        <td class="text-center"><%= pt_hla_groups['A'].map {|hla| hla.hla_allele }.join(', ') %></td>
        <td class="text-center"><%= pt_hla_groups['B'].map {|hla| hla.hla_allele }.join(', ') %></td>
        <td class="text-center"><%= pt_hla_groups['C'].map {|hla| hla.hla_allele }.join(', ') %></td>
      </tr>
      </tbody>
    </table>
  </div>
<% end %>


<div id="mut_counts">
  <% if @mut_counts.size > 0 %>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <%= tag.div id: "sample_mut_chart_container", style: "height:250px; margin: auto; min-width: 100%; max-width: 100%;",
                      data: {'title-text': 'Mutation Gene Counts', 'chart-colors': mutation_bar_colors(9),
                             'x-categories': @mut_samples, 'chart-series': @mut_counts} do %><% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<div id="cn_counts">
  <% if @cn_counts.size > 0 and @cn_counts[0][:name] != 'No CNV'%>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <%= tag.div id: "sample_cn_chart_container", style: "height:250px; margin: auto; min-width: 100%; max-width: 100%;",
                      data: {'title-text': 'CNV Gene Counts', 'chart-colors': PlotInfo.cnv_colors,
                             'x-categories': @cn_samples, 'chart-series': @cn_counts} do %><% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
