<div class="table-responsive" style="padding-left: 15px; padding-right: 15px;">
  <table id="sample_clinical_table" data-formqueryrequest="" class="table table-striped table-bordered table-condensed" style="width: 70%;">
    <thead>
    <tr>
      <th class="text-center">Patient</th>
      <th class="text-center">Gender</th>
      <th class="text-center">Race</th>
      <th class="text-center">Age</th>
      <th class="text-center">BMI</th>
      <th class="text-center">Smoker?</th>
      <th class="text-center">Cancer Site</th>
      <th class="text-center">Tumor Stage</th>
      <th class="text-center">Recur?</th>
      <% if @pt_samples.days_survival>0 %>
        <th class="text-center">Days Survival</th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td class="text-center"><%= @pt_samples.patient_nr %></td>
      <td class="text-center"><%= @pt_samples.gender %></td>
      <td class="text-center"><%= @pt_samples.race_ethnicity %></td>
      <td class="text-center"><%= @pt_samples.dx_age %></td>
      <td class="text-center"><%= @pt_samples.dx_bmi %></td>
      <td class="text-center"><%= @pt_samples.smoking_history %></td>
      <td class="text-center"><%= @pt_samples.cancer_site %></td>
      <td class="text-center"><%= @pt_samples.summary_stage %></td>
      <td class="text-center"><%= @pt_samples.recurrence %></td>
      <% if @pt_samples.days_survival>0 %>
        <td class="text-center"><%= @pt_samples.days_survival %></td>
      <% end %>
    </tr>
    </tbody>
  </table>
</div>
