<div style="padding-bottom: 30px">
  <div class="panel-body" style="background-color: #e5e5e5; padding-top: 0px; padding-bottom: 0px">
    <div class="col-md-12">
      <h5 style="font-size: 20px; text-align:left;float:left;"><strong>Patient Query</strong></h5>
      <h5 style="font-size: 16px; text-align:right; float:right;">  <i>Human genome reference build: <strong>GRCh38</strong></i></h5>
      <hr style="border:0;">
      <h5 style="padding-left: 10px; font-size: 16px;">  <strong>Cancer(Study):</strong>&nbsp;<%= @cancer_study %></h5>
      <h5 style="padding-left: 10px; font-size: 16px;">  <strong>Patient: </strong>&nbsp;<%= @pt_samples.patient_nr %></h5>
    </div><!-- /col -->
  </div><!-- /panel body -->
</div><!-- /alert -->

<ul class="nav nav-tabs" id="sample-query" role="tablist">

  <li class="active nav-item">
    <a class="nav-link active" id="summary_tab" data-toggle="tab" href="#sample_summary" role="tab">Summary</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="sample_mut_tab" role="tab" data-toggle="tab" href="#sample_mutations">Mutation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="sample_cn_tab" role="tab" data-toggle="tab" href="#sample_cn">Copy Number</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="sample_expr_tab" role="tab" data-toggle="tab" href="#sample_expr">Expression</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="sample_neo_tab" role="tab" data-toggle="tab" href="#sample_neoantigen">Neoantigens</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="sample_mbio_tab" role="tab" data-toggle="tab" href="#sample_mbiome">Microbiome</a>
  </li>
</ul>

<div class="tab-content">
  <div id="sample_summary" class="tab-pane active">
    <%= render 'summary_info' %>
  </div>

  <div id="sample_mutations" class="tab-pane fade">
    <%= render 'mutation_dtls' %>
  </div>

  <div id="sample_cn" class="tab-pane fade">
    <%= render 'copy_number_dtls' %>
  </div>

  <div id="sample_expr" class="tab-pane fade">
    <%= render 'gene_expr_ajax' %>
  </div>

  <div id="sample_neoantigen" class="tab-pane fade">
    <%= render 'neoantigen_dtls' %>
  </div>

  <div id="sample_mbiome" class="tab-pane fade">
    <%= render 'microbiome_dtls' %>
  </div>
</div>
