<div class="container" align="center" >
  <div class="container" align="center">
    <%= image_tag(Portal::Config::Info['welcome_image'], class: Portal::Config::Info['img-session']) %>
  </div>
  <h2>Edit user profile</h2>
  <br />

  <div class="container">
  <div class="jumbotron jumbotron-login" >
    <h2 style="margin-top: 10px; font-size: 25px;">Change password</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field field-login" align="left">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <br />
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="field field-login" align="left">
        <%= f.label :password, 'New password' %> <i style="font-size: 13px"></i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
      <br />
      <div class="field field-login" align="left">
        <%= f.label :password_confirmation, 'Confirm new password' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <br />
      <div class="field field-login" align="left">
        <%= f.label :current_password %> <br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>
      <br />
      <div class="actions">
        <%= f.submit "Update", class: "btn btn-primary btn-md btn-submit btn-login" %>
      </div>
    <% end %>
  </div>
  </div>
    <br />

  <div class="container">
    <div class="jumbotron jumbotron-login" >
    <h2 style="margin-top: 10px; font-size: 25px;">Cancel account</h2>
    <p> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary btn-md btn-submit btn-login" %></p>
    </div>
  </div>

    <%= link_to "Back", :back, style: "font-size: 17px;" %>

</div>
<br />