<div class="container container-login" align="center" >
  <div class="jumbotron jumbotron-login" >
    <div class="container" align="center">
      <%= image_tag(Portal::Config::Info['welcome_image'], class: Portal::Config::Info['img-session']) %>
    </div>
    <h2>Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field field-login" align="left">
        <%= f.label :email %>
        <br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>"35" %>
      </div>

      <br />

      <div class="field field-login" align="left">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <br />
        <%= f.password_field :password, autocomplete: "new-password", :size=>"35" %>
      </div>

      <br />

      <div class="field field-login" align="left">
        <%= f.label :password_confirmation %>
        <br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :size=>"35" %>
      </div>

      <br />

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-primary btn-md btn-submit btn-login" %>
      </div>

    <% end %>
    <br />
    <div align="left">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>