
<% if resource.errors.any? %>
  <div class="alert alert-danger alert-dismissable" role="alert">
    <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
    <% resource.errors.full_messages.each do |message| %>
      <li align="left" style="list-style-type: none; margin-left: 5px;">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <%= message %>
      </li>
    <% end %>
  </div>
  <br />
<% end %>

