<%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_session_path(resource_name), style: "font-size: 17px;" %><br />
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name), style: "font-size: 17px;" %><br />
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_user_confirmation_path(resource_name), style: "font-size: 17px;" %><br /><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' && controller_name != 'passwords' && controller_name != 'confirmations'%>
  <p style="font-size: 20px; display:inline-block; margin-left: 0; margin-right: 2px; padding: 0;">New user?</p> <%= link_to "Register here", user_signup_path, class:(request.fullpath == user_signup_path ? "selected" : ''), style: "font-size: 20px; display:inline-block; font-weight: bold;" %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), style: "font-size: 17px;" %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end %>
<% end %>
