<% if flash[:alert] %>
    <div class="alert alert-danger alert-dismissable" role="alert">

        <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>

      <li align="left" style="list-style-type: none; margin-left: 5px;">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <%= flash[:alert] %>
      </li>
    </div>
  <br />
<% end %>
