<% if user_signed_in? %>
    <li>User: <%= current_user.email %></li>
    <li>
      <%= link_to('Edit user profile', edit_user_registration_path) %>
    </li>
    <li>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    </li>
<% end %>
