<div class="container container-login" align="center" >
  <div class="jumbotron jumbotron-login" >
    <div class="container" align="center">
      <%= image_tag(Portal::Config::Info['welcome_image'], class: Portal::Config::Info['img-session']) %>
    </div>

    <h2>Change your password</h2>
    <br />

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field field-login" align="left">
        <%= f.label :password, "New password" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", :size=>"33"  %>
      </div>
      <br />
      <div class="field field-login" align="left">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :size=>"33"  %>
      </div>
      <br />
      <div class="actions">
        <%= f.submit "Change my password" , class: "btn btn-primary btn-md btn-submit btn-login"%>
      </div>
    <% end %>
    <br />
    <div align="left">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>



