<% radio_class ||= 'gene_radio' %>
<% radio_name ||= 'gene_filter' %>
<% incl_all ||= 'Y' %>

<br>

<div>

  <span style="display: inline-block;vertical-align:middle;"> <%= image_tag("filter.png", width:"25") %></span>
  <span style="font-size: 16px; font-weight: bold; margin-left: -6px; display: inline-block;vertical-align:middle;">Gene Filter&nbsp;</span>

    <select class="<%= radio_class %> select-filter" style="text-align: center; vertical-align: middle;">
      <% if incl_all == 'Y' %>
        <option value=0 id="<%=radio_name%>_0" name="<%=radio_name%>">All genes</option>
      <% end %>
      <option value=1 id="<%=radio_name%>_1" name="<%=radio_name%>" selected="selected">Cancer-Associated Genes</option>
      <option value=2 id="<%=radio_name%>_2" name="<%=radio_name%>">Oncogenes</option>
      <option value=3 id="<%=radio_name%>_3" name="<%=radio_name%>">Tumor Suppressor Genes</option>
    </select>


</div>

<br>
