<div style="background-color: lightgrey">
  <div class="container container-sidebar">
    <div class="row">
      <span class = "badge badge-sidebar" style="margin-bottom: 1px;">Example queries</span>
    </div>
    <div class="row">
      <span class = "badge badge-sidebar-subhead" style="margin-bottom: 18px; border-top: 2px solid black;"><i class="custom-icons"> <%= image_tag(Portal::Config::Info['pie_image_example'], width:"25") %></i> Explore Study: </span>
    </div>
    <div>
      <ul style="margin-top: -24px; margin-left: -20px; font-size: 15px;">
        <li style="margin-bottom: 3px;">What is the age distribution of patients in the IMH COAD study?</li>
        <li style="margin-bottom: 3px;">How many IMH COAD patients have an <i>FGFR2</i> amplification?</li>
        <li style="margin-bottom: 3px;">What immune cell types are enriched in IMH COAD patients?</li>
        <li style="margin-bottom: 3px;">What is the proportion of bacterial types in the microbiomes of IMH COAD patients?</li>
      </ul>
    </div>

    <div class="row">
      <span class = "badge badge-sidebar-subhead" style="margin-bottom: 18px; border-top: 2px solid black;"> <i class="custom-icons"> <%= image_tag(Portal::Config::Info['gene_image_example'], width:"23") %></i> Gene Query:</span>
    </div>
    <div>
      <ul style="margin-top: -24px; margin-left: -20px; font-size: 15px;">
        <li style="margin-bottom: 3px;">How many TCGA STAD patients have a missense mutation in <i>TP53?</i></li>
        <li style="margin-bottom: 3px;">How does the proportion of <i>KRAS</i> mutations compare between IMH and TCGA COAD studies?</li>
      </ul>
    </div>

    <div class="row">
      <span class = "badge badge-sidebar-subhead" style="margin-bottom: 18px; border-top: 2px solid black;"> <i class="custom-icons"> <%= image_tag(Portal::Config::Info['hla_image_example'], width:"23") %></i> Neoantigen/HLA Query: </span>
    </div>
    <div>
      <ul style="margin-top: -24px; margin-left: -20px; font-size: 15px;">
        <li style="margin-bottom: 3px;">Are there any IMH COAD patients with neoantigens that have a strong binding affinity to their own HLA type?</li>
      </ul>
    </div>

    <div class="row">
      <span class = "badge badge-sidebar-subhead" style="margin-bottom: 18px; border-top: 2px solid black;"><i class="custom-icons"> <%= image_tag(Portal::Config::Info['patient_image_example'], width:"23") %></i> Patient Query: </span>
    </div>
    <div>
      <ul style="margin-top: -24px; margin-left: -20px; font-size: 15px;">
        <li style="margin-bottom: 3px;">Show me all available data for IMH COAD patient: CRC-002.</li>
      </ul>
    </div>

  </div>

</div>