<% if @query_type == 'target_patient' %>
  <% if @patient_nrs.empty? %>
        <%= text_field(:query_params, :error, class: 'form-control box-text', disabled: true, placeholder: 'Select a study/studies first') %>
  <% else %>
        <%= select(:query_params, :patient_id, grouped_options_for_select(@patient_nrs), {prompt: 'Select Patient'},
             class: 'form-control box-text selectpicker') %>
  <% end %>
<% elsif @query_type == 'target_neoantigen' %>
  <%= select(:query_params, :neoantigen, @hla_types, {prompt: 'Select HLA'},
             class: 'form-control box-text selectpicker', 'data-live-search': 'true') %>
<% elsif @query_type == 'target_gene' %>
  <%= text_field(:query_params, :gene_name, class: 'form-control box-text',
                 placeholder: 'Enter Gene(s)') %>
<% end %>
