<div class="panel-body">
  <%= form_tag study_query_path, id: 'study_query_form', method: 'get', class: 'text-left' do %>
   <div class="container">
      <div class="row">
        <div class="col-md-8" style="height: 100%;">
          <div class="row">
            <div class="col-md-12">
              <div class="container container-border">
                <div class="row">
                  <span class = "badge badge-header" style="margin-bottom: 28px;">Select study/studies to query:</span>
                </div>
                <div>
                  <%= content_tag :div, '', id: 'study_error', class: 'alert alert-danger center-block text-center align-middle', style: 'font-size: 20px; display:none;'%>
                </div>
                <div class="table-responsive">
                  <table class='table table-borderless table-condensed table-checkboxes' style="width:100%; margin:auto; font-size: 20px;  border-collapse: separate; border-spacing: 10px 0px; table-layout:fixed;">


                    <tr>
                      <td colspan="2" style="vertical-align: middle;">
                        <div class="pretty p-icon">
                          <input type="checkbox" id="selectAll" value="selectAll" />
                          <div class="state">
                            <%= content_tag(:i, "check", class: "icon mi mi-check") %>
                            <label style="padding-left: 8px;">Select/Deselect All</label>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <% @grouped_cancer_studies.each do |ctype| %>
                      <tr style="font-weight: bold; ">
                        <td colspan="2" style="padding-top: 10px;"><%= ctype[0] %></td>
                      </tr>
                      <% ctype[1].each do |subtype| %>
                        <tr style="padding-top: 0;">
                          <td style="width: 1px;">
                            <div class="pretty p-icon">
                              <input type="checkbox" class="checkbox-study" value=<%= subtype[1] %>[] name="cancer_studies[]"/>
                              <div class="state">
                                <%= content_tag(:i, "check", class: "icon mi mi-check") %>
                                <label style="padding-left: 8px;"><%= subtype[0] %></label>
                              </div>
                            </div>
                          </td>
                          <td style="text-align: right; vertical-align: middle;">
                            <label style="font-style: italic; font-weight: normal; font-size: 19px; text-align: right; color: gray; margin-right: 5px;";><%= subtype[2].to_s.concat(' samples') %></label>

                            <button type="submit" class="explore_query btn-explore btn btn-labeled text-center tip-container" data-toggle="popover" data-trigger="hover" data-content="Explore <%= ctype[0] %> <%= subtype[0] %> study" value="<%= subtype[1] %>" name="cancer_studies" >
                              <span class="btn-label-explore pull-left" style="margin-left: -11px;"><i> <%= image_tag(Portal::Config::Info['pie_image'], width:"25") %></i></span>
                              <span style="margin-top:3px; margin-left: 28px; display: block; font-size: 17px;">Explore Study</span>
                            </button>
                          </td>
                        </tr>
                      <% end %>
                    <% end %>
                    <tr>
                      <td style="padding-bottom: 20px;"></td>
                    </tr>
                  </table>
                </div>
              </div> <!-- /container-border (left panel) -->
            </div><!-- /col-md-6 (left panel) -->
          </div>

          <div class="row">
            <div class="col-md-12" style="height:100%;">
              <div class="container container-border" style="height:100%;">
                <div class="row">
                  <span class = "badge badge-header" style="margin-bottom: 11px;">Query the study/studies by:</span>
                </div>

                <div class="table-responsive">
                  <table class='table table-borderless table-condensed table-radio' style="width:100%; margin:auto; border-collapse: separate; border-spacing: 10px 6px; font-size: 20px; max-width: 600px;">
                    <tr style="margin-top:30px">

                      <td style="vertical-align: middle; width: 10px;">
                        <button type="button" class="btn-query btn radio-label btn-labeled tip-container" id="target_gene" data-placement="left" data-content="Click here to query selected studies by Gene">
                          <span class="btn-label pull-left" style="margin-left: -11px;"><i class="custom-icons"> <%= image_tag("gene_white.png", width:"30") %></i></span>
                          <span style="margin-top:4px;display: block;">Gene</span>
                        </button>
                      </td>
                      <td style="vertical-align: middle; text-align: center;">
                        OR
                      </td>
                      <td style="vertical-align: middle; width: 10px;">
                        <button type="button" class="btn-query btn radio-label btn-labeled tip-container" id="target_neoantigen" data-placement="left" data-content="Click here to query selected studies by Neoantigen/HLA">
                          <span class="btn-label pull-left" style="margin-left: -11px;"><i class="custom-icons"> <%= image_tag("neoantigen_white.png", width:"30") %></i></span>
                          <span style="margin-top:4px;display: block;">Neoantigen</span>
                        </button>
                      </td>
                      <td style="vertical-align: middle; text-align: center;">
                        OR
                      </td>
                      <td style="vertical-align: middle; width: 10px;">
                        <button type="button" class="btn-query btn radio-label btn-labeled tip-container" id="target_patient" data-placement="left" data-content="Click here to query by patient">
                          <span class="btn-label pull-left" style="margin-left: -11px;"><i class="custom-icons"> <%= image_tag("patient.png", width:"30") %></i></span>
                          <span style="margin-top:4px;display: block;">Patient</span>
                        </button>
                      </td>
                    </tr>


                    <tr>
                      <td></td>
                      <td id="param_select" class="box-align" align="center" colspan="3">
                      </td>
                      <td></td>
                    </tr>


                    <tr style="height: 5px;">
                    </tr>
                  </table>
                </div>
              </div> <!-- /container-border (right panel) -->

              <div>
                <%= content_tag :div, '', id: 'blank_param_error', class: 'alert alert-danger center-block text-center align-middle', style: 'font-size: 20px; display:none;'%>
              </div>
              <% if flash[:error] %>
                <div id='invalid_param_error' class="alert alert-danger center-block text-center align-middle" style="font-size: 20px;">
                  <%= flash[:error] %>
                </div>
              <% end %>

              <div style="text-align: center;">
                <%= submit_tag "Submit Query", id: "submit_query", style: "font-weight: bold; font-size: 23px; margin-top: 20px; margin-bottom: 20px;", class: "btn btn-primary btn-md btn-submit" %>
              </div>
            </div> <!-- /col-md-6 (right panel) -->
          </div>
        </div> <!-- /panel-body row -->

        <div class="col-md-4" style="height: 620px;">
          <%= render "example_query_#{Portal::Config::Info['project']}" %>
        </div>

      </div>
    </div> <!-- /panel-body container -->
    <% end %><!-- /form tag for outcome summary -->
</div> <!-- /panel body -->

<script>
    $(function () {
        $('[data-toggle="popover"]').popover();
    })
</script>
