﻿<div class="container-fluid" align="center">
  <%= image_tag(Portal::Config::Info['welcome_image'], class: "img-responsive", style: 'height:100px; margin-top: -15px;') %>
</div>

<div class="container-fluid h3" align="center" style="margin-top:5px;margin-bottom:20px">
  <%= Portal::Config::Info['main_title'] %>
</div>
<div class="container container-fluid">
  <div class="row"><!-- row 1 --> 
    <div class="col-md-12">

      <div class="panel">
        <div class="panel-body">
          <%= render 'study_query_form' %>
        </div><!-- /panel body -->
      </div><!-- /panel -->

    </div><!-- /col-->

    <p class="info"></p>
  </div><!-- /row 1-->

</div>




