<div class="center jumbotron">
  <div class="panel panel-info">
    <div class="panel-body">
      <h2>The Stanford-TCGA Portal: An Interactive Web Interface for Exploring the Clinical Phenotypic Relevance of Specific Cancer Drivers</h2>
    </div><!-- /panel body -->
  </div><!-- /panel -->
  <div class="row"><!-- row 1 -->
    
        <div class="panel-body">
        <p style="color:red;font-weight:bold;font-size:150%">System is down for Maintenance</p>
        <p style="color:red;font-weight:bold;font-size:150%">Expected completion Monday 6/15 </p>
        </div><!-- /panel body -->
      
  </div><!-- /row 1-->
</div><!-- /jumbotron -->


