<div style="padding-bottom: 30px">
  <div class="panel-body" style="background-color: #e5e5e5; padding-top: 0px; padding-bottom: 0px">
    <div class="col-md-12">
      <h5 style="font-size: 20px; text-align:left;float:left;"><strong>Neoantigen/HLA Query</strong></h5>
      <h5 style="font-size: 16px; text-align:right;float:right;">  <i>Human genome reference build: <strong>GRCh38</strong></i></h5>
      <hr style="border:0;">
      <h5 style="padding-left: 10px; font-size: 16px;">  <strong>HLA Type:</strong>&nbsp;<%= @hla_type.hla_allele %></h5>
      <h5 style="padding-left: 10px; font-size: 16px;">  <strong>Cancer(Study):</strong>&nbsp;<%= @cancers.join(', ') %></h5>
      <h5 style="padding-left: 10px; font-size: 16px;">  <strong>Total number of samples in queried studies:</strong>&nbsp;<%= @num_samples %></h5>
      <h5 style="padding-left: 10px; font-size: 16px;">  <strong>Number of samples with selected HLA type:</strong>&nbsp;<%= @patient_hla_ct %></h5>
    </div><!-- /col -->
  </div><!-- /panel body -->
</div><!-- /alert -->

<div class="table-responsive" style="padding-left: 15px; padding-right: 15px;">
  <table id="neoantigen_table_hla" data-formqueryrequest="" class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
      <th class="text-center">Study</th>
      <th class="text-center">Cancer</th>
      <th class="text-center">Patient</th>
      <th class="text-center">Gene</th>
      <th class="text-center">ChrPos</th>
      <th class="text-center">Ref/Alt</th>
      <th class="text-center">AAChange</th>
      <th class="text-center">Mut TPM</th>
      <th class="text-center">HLA Allele</th>
      <th class="text-center">Neoantigen</th>
      <th class="text-center">Binding Strength</th>
      <th class="text-center">Binding Rank</th>
    </tr>
    </thead>

    <tbody>
    <% @neoantigens.each do |hla_bind| %>
      <tr>
        <% binding_color = hla_bind.binding_strength == 'strong' ? '#f00' : '#0000FF' %>
        <td class="text-center"><%= hla_bind.sample_neoantigen.sample_mutation.cancer_study.study %></td>
        <td class="text-center"><%= hla_bind.sample_neoantigen.sample_mutation.cancer_study.cancer_abbr %></td>
        <td class="text-center"><%= hla_bind.sample_neoantigen.patient_nr %></td>
        <td class="text-center"><%= hla_bind.sample_neoantigen.sample_mutation.gene_name %></td>
        <td class="text-center"><%= hla_bind.sample_neoantigen.chr_pos %></td>
        <td class="text-center"><%= hla_bind.sample_neoantigen.ref_alt %></td>
        <td class="text-center"><%= hla_bind.sample_neoantigen.sample_mutation.protein_change %></td>
        <td class="text-center"><%= hla_bind.sample_neoantigen.sample_mutation.mutation_tpm %></td>
        <td class="text-center"><%= hla_bind.hla_allele %></td>
        <td class="text-center"><%= hla_bind.sample_neoantigen.neoantigen_9mer %></td>
        <td class="text-center" style="color: <%= binding_color %>"><%= hla_bind.binding_strength %></td>
        <td class="text-center"><%= hla_bind.binding_rank %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script>
    $("#neoantigen_table_hla").DataTable();
</script>
