<div class="container container-login" align="center" >
  <div class="jumbotron jumbotron-login" >
    <div class="container" align="center">
      <%= image_tag(Portal::Config::Info['welcome_image'], class: Portal::Config::Info['img-session']) %>
    </div>

    <h2>Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/signin_errors" %>

      <div class="field field-login" align="left">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>"35" %>
      </div>
      <br />
      <div class="field field-login" align="left">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", :size=>"35" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field field-login-remember" align="left">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions" style="text-align: center">
        <%= f.submit "Submit", class: "btn btn-primary btn-md btn-submit btn-login" %>
      </div>
    <% end %>
    <br /><br />
    <div align="left">
      <%= render "devise/shared/links"  %>
    </div>
  </div>
</div>