<div class="table-responsive" style="padding-left: 15px; padding-right: 15px;">
<table id="clinical_table" style="width:100%" class="table table-striped table-bordered table-condensed">
 <thead>
 <tr>
   <th class="text-center">Patient</th>
   <th class="text-center">Gender</th>
   <th class="text-center">Race/Ethnicity</th>
   <th class="text-center">Family History</th>
   <th class="text-center">Smoker?</th>
   <th class="text-center">Cancer Site</th>
   <th class="text-center">Diagnosis</th>
   <th class="text-center">Diagnosis Subtype</th>
   <th class="text-center">Differentiation</th>
 </tr>
 </thead>
 <tbody>
 <% @patient_data.each do |patient| %>
     <tr>
       <td class="text-center"><%= link_to patient.patient_nr, sample_query_path(patient_id: patient.id, cancer_studies: [patient.cancer_study_id]) %></td>
       <td class="text-center"><%= patient.gender %></td>
       <td class="text-center"><%= patient.race_ethnicity %></td>
       <td class="text-center"><%= patient.gc_history %></td>
       <td class="text-center"><%= patient.smoking_history %></td>
       <td class="text-center"><%= patient.cancer_site_dtl %></td>
       <td class="text-center"><%= patient.diagnosis %></td>
       <td class="text-center"><%= patient.diagnosis_subtype %></td>
       <td class="text-center"><%= patient.differentiation %></td>
     </tr>
 <% end %>
 </tbody>
</table>
</div>

<script>
    $("#clinical_table").DataTable();
</script>
