<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-4" style="margin-bottom: 25px;">
      <%= tag.div id: "gender_pie_container", style: "height:150; margin: auto; min-width: 20%; max-width: 100%;", class: "",
                  data: {'title-text': "Gender", 'chart-colors': "#{PlotInfo.gender_colors}", 'chart-series': @gender_counts}  do %><% end %>
      </div>
      <div class="col-lg-4" style="margin-bottom: 25px;">
        <% na1 = @race_counts.find_index {|p| p[:name] == 'Unknown'} %>
        <%= tag.div id: "race_ethno_container", style: "height:150; margin: auto; min-width: 20%; max-width: 100%;", class: "",
                    data: {'title-text': "Race/Ethnicity", 'chart-colors': "#{pie_colors(na1)}", 'chart-series': @race_counts}  do %><% end %>
      </div>
      <div class="col-lg-4" style="margin-bottom: 25px;">
        <%= tag.div id: "age_histogram_container", style: "height:150; margin: auto; min-width: 20%; max-width: 100%;", class: "",
                    data: {'title-text': "Age at Diagnosis", 'x-axis': 'Age', 'chart-series': @ages, 'bin-size': 10}  do %><% end %>
      </div>
      <div class="col-lg-4" style="margin-bottom: 25px;">
        <% na2a = @site_dtl_counts.find_index {|p| p[:name] == 'Unknown'} %>
        <% na2b = @site_dtl_counts.find_index {|p| p[:name] == 'NA'} %>
        <%= tag.div id: "site_dtl_container", style: "height:150; margin: auto; min-width: 20%; max-width: 100%;", class: "",
                    data: {'title-text': "Cancer Site", 'chart-colors': "#{pie_colors(na2a, na2b)}", 'chart-series': @site_dtl_counts}  do %><% end %>
      </div>
      <div class="col-lg-4" style="margin-bottom: 25px;">
        <!--% na3 = @family_history_cts.find_index {|p| p[:name] == 'Unknown'} %-->
        <%= tag.div id: "fhistory_pie_container", style: "height:150; margin: auto; min-width: 20%; max-width: 100%;", class: "",
                    data: {'title-text': "Family History", 'chart-colors': "#{pie_ynu_colors([1,0,2])}", 'chart-series': @family_history_cts}  do %><% end %>
      </div>
      <div class="col-lg-4" style="margin-bottom: 25px;">
        <% na4 = @smoking_counts.find_index {|p| p[:name] == 'Unknown'} %>
        <%= tag.div id: "smoking_pie_container", style: "height:150; margin: auto; min-width: 20%; max-width: 100%;", class: "",
                    data: {'title-text': "Smoking History", 'chart-colors': "#{pie_colors(na4)}", 'chart-series': @smoking_counts}  do %><% end %>
      </div>
      <div class="col-lg-4" style="margin-bottom: 25px;">
        <% na5 = @diagnosis_counts.find_index {|p| p[:name] == 'Unknown'} %>
        <%= tag.div id: "diagnosis_container", style: "height:150; margin: auto; min-width: 20%; max-width: 100%;", class: "",
                    data: {'title-text': "Diagnosis", 'chart-colors': "#{pie_colors(na5)}", 'chart-series': @diagnosis_counts}  do %><% end %>
      </div>
      <div class="col-lg-4" style="margin-bottom: 25px;">
        <% na6 = @diagnosis_dtl_counts.find_index {|p| p[:name] == 'Unknown'} %>
        <%= tag.div id: "diagnosis_dtl_container", style: "height:150; margin: auto; min-width: 20%; max-width: 100%;", class: "",
                    data: {'title-text': "Diagnosis Subtype", 'chart-colors': "#{pie_colors(na6)}", 'chart-series': @diagnosis_dtl_counts}  do %><% end %>
      </div>
      <div class="col-lg-4" style="margin-bottom: 25px;">
        <% na7 = @differentiation_cts.find_index {|p| p[:name] == 'Unknown'} %>
        <%= tag.div id: "differentiation_container", style: "height:150; margin: auto; min-width: 20%; max-width: 100%;", class: "",
                    data: {'title-text': "Differentiation", 'chart-colors': "#{pie_colors(na7)}", 'chart-series': @differentiation_cts}  do %><% end %>
      </div>
    </div>
  </div>
</div>

<script>
  explore_studies_gcr()
</script>
