<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-4" style="margin-bottom: 25px;">
      <%= tag.div id: "gender_pie_container", style: "height:150; margin: auto; min-width: 20%; max-width: 100%;", class: "",
                  data: {'title-text': "Gender", 'chart-colors': "#{PlotInfo.gender_colors}", 'chart-series': @gender_counts}  do %><% end %>
      </div>
      <div class="col-lg-4" style="margin-bottom: 25px;">
      <% na1 = @smoking_counts.find_index {|p| p[:name] == 'Unknown'} %>
      <%= tag.div id: "smoking_pie_container", style: "height:150; margin: auto; min-width: 20%; max-width: 100%;", class: "",
                  data: {'title-text': "Smoking History", 'chart-colors': "#{pie_colors(na1)}", 'chart-series': @smoking_counts}  do %><% end %>
      </div>
      <div class="col-lg-4" style="margin-bottom: 25px;">
      <% na2 = @stage_counts.find_index {|p| p[:name] == 'NA'} %>
      <%= tag.div id: "stage_pie_container", style: "height:150; margin: auto; min-width: 20%; max-width: 100%;", class: "",
                  data: {'title-text': "Tumor Stage", 'chart-colors': "#{pie_colors(na2)}", 'chart-series': @stage_counts}  do %><% end %>
      </div>
      <div class="col-lg-4" style="margin-bottom: 25px;">
      <% na3 = @site_counts.find_index {|p| p[:name] == 'Unknown'} %>
      <%= tag.div id: "site_pie_container", style: "height:150; margin: auto; min-width: 20%; max-width: 100%;", class: "",
                  data: {'title-text': "Cancer Site", 'chart-colors': "#{pie_colors(na3)}", 'chart-series': @site_counts}  do %><% end %>
      </div>
      <div class="col-lg-4" style="margin-bottom: 25px;">
      <%= tag.div id: "age_histogram_container", style: "height:150; margin: auto; min-width: 20%; max-width: 100%;", class: "",
                  data: {'title-text': "Age at Diagnosis", 'x-axis': 'Age', 'chart-series': @ages, 'bin-size': 10}  do %><% end %>
      </div>
      <div class="col-lg-4" style="margin-bottom: 25px;">
      <%= tag.div id: "survival_histogram_container", style: "height:150; margin: auto; min-width: 20%; max-width: 100%;", class: "",
                  data: {'title-text': "Survival", 'x-axis': 'Months', 'chart-series': @survival_mths, 'bin-size': 12}  do %><% end %>
      </div>
    </div>
  </div>
</div>

<script>
    explore_studies_imh()
</script>

