<div class="table-responsive" style="padding-left: 15px; padding-right: 15px;">
<table id="clinical_table" style="width:100%" class="table table-striped table-bordered table-condensed">
 <thead>
 <tr>
   <th class="text-center">Patient</th>
   <th class="text-center">Gender</th>
   <th class="text-center">Race/Ethnicity</th>
   <th class="text-center">Age</th>
   <th class="text-center">BMI</th>
   <th class="text-center">Diagnosis</th>
   <th class="text-center">Cancer Site</th>
   <th class="text-center">Tumor Stage</th>
   <th class="text-center">Recur?</th>
   <th class="text-center">Days Survival</th>
 </tr>
 </thead>
 <tbody>
 <% @patient_data.each do |patient| %>
     <tr>
       <td class="text-center"><%= link_to patient.patient_nr, sample_query_path(patient_id: patient.id, cancer_studies: [patient.cancer_study_id]) %></td>
       <td class="text-center"><%= patient.gender %></td>
       <td class="text-center"><%= patient.race_ethnicity %></td>
       <td class="text-center"><%= patient.dx_age %></td>
       <td class="text-center"><%= patient.dx_bmi %></td>
       <td class="text-center"><%= patient.diagnosis %></td>
       <td class="text-center"><%= patient.cancer_site %></td>
       <td class="text-center"><%= patient.summary_stage %></td>
       <td class="text-center"><%= patient.recurrence %></td>
       <td class="text-center"><%= patient.days_survival_or_na %></td>
     </tr>
 <% end %>
 </tbody>
</table>
</div>

<script>
    $("#clinical_table").dataTable();
</script>
