<div id="selector_clinical" class="btn-group">
  <button type="button" class="btn active btn-xs btn-toggle">Plots</button>
  <button type="button" class="btn btn-xs btn-toggle">Table</button>
</div>
<br />

<div id="clinical_plot_tab">
  <%= render "clinical_plots_#{study_fmt}" %>
</div>

<div id="clinical_table_tab" style="display: none">
  <div class="col-lg-12" style="margin-bottom: 25px">
    <%= render "clinical_table_#{study_fmt}" %>
  </div>
</div>

<script>
    toggleDiv('selector_clinical', 'clinical_plot_tab', 'clinical_table_tab');
</script>