<div id="selector_hla" class="btn-group">
  <button type="button" class="btn active btn-xs btn-toggle">Overview</button>
  <button type="button" class="btn btn-xs btn-toggle">Patient</button>
</div>
<br />

<div id="hla_overview">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-4" style="margin-bottom: 25px;">
          <% hla_a_counts = @hla_counts.select { |hla| hla[:name].starts_with?('A')} %>
          <%= tag.div id: "hla_a_container", style: "height:150; margin: auto; min-width: 20%; max-width: 100%;", class: "",
                      data: {'title-text': "HLA-A Alleles", 'chart-colors': "#{pie_colors}", 'chart-series': hla_a_counts}  do %><% end %>
        </div>
        <div class="col-lg-4" style="margin-bottom: 25px;">
          <% hla_b_counts = @hla_counts.select { |hla| hla[:name].starts_with?('B')} %>
          <%= tag.div id: "hla_b_container", style: "height:150; margin: auto; min-width: 20%; max-width: 100%;", class: "",
                      data: {'title-text': "HLA-B Alleles", 'chart-colors': "#{pie_colors}", 'chart-series': hla_b_counts}  do %><% end %>
        </div>
        <div class="col-lg-4" style="margin-bottom: 25px;">
          <% hla_c_counts = @hla_counts.select { |hla| hla[:name].starts_with?('C')} %>
          <%= tag.div id: "hla_c_container", style: "height:150; margin: auto; min-width: 20%; max-width: 100%;", class: "",
                      data: {'title-text': "HLA-C Alleles", 'chart-colors': "#{pie_colors}", 'chart-series': hla_c_counts}  do %><% end %>
        </div>
      </div>

      <div class="row">
        <%= render 'hla_table', hla_counts: hla_a_counts, hla_gene: 'A' %>
        <%= render 'hla_table', hla_counts: hla_b_counts, hla_gene: 'B' %>
        <%= render 'hla_table', hla_counts: hla_c_counts, hla_gene: 'C' %>
      </div>
    </div>
  </div>
</div>

<div id="hla_patient" style="display: none">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-7" style="margin-bottom: 25px;">
          <div class="container">
          <table id="patient_hla_table" style="width:100%" class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
              <th class="text-center">Patient</th>
              <th class="text-center">HLA-A</th>
              <th class="text-center">HLA-B</th>
              <th class="text-center">HLA-C</th>
            </tr>
            </thead>

            <tbody>
            <!-- iterate for each row of data -->
            <% @patient_hla.each do |patient_nr, patient| %>
              <% hla_array = patient[0].hla_types.map {|hla_type| [hla_type.hla_gene, hla_type.hla_allele]} %>
              <% next if hla_array.empty? %>

              <% hla_a = hla_array.select {|hla| hla[0] == 'A'} %>
              <% hla_b = hla_array.select {|hla| hla[0] == 'B'} %>
              <% hla_c = hla_array.select {|hla| hla[0] == 'C'} %>
              <tr>
                <td class="text-center"><%= patient_nr %></td>
                <td class="text-center"><%= hla_a.map {|hla| hla[1]}.join(",") %></td>
                <td class="text-center"><%= hla_b.map {|hla| hla[1]}.join(",") %></td>
                <td class="text-center"><%= hla_c.map {|hla| hla[1]}.join(",") %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
    toggleDiv('selector_hla', 'hla_overview', 'hla_patient');

    $("#patient_hla_table").DataTable({
        dom: "<'row'<'col-sm-6'l><'col-sm-6'f>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-5'i><'col-sm-2'B><'col-sm-5'p>>",
        pagingType: "full"
    });
    $("#hla_a_table").DataTable({
        iDisplayLength: 25,
        pagingType: "simple",
        aLengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
        dom: "<'row'<'col-sm-6'l><'col-sm-6'f>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-6'i><'col-sm-6'p>>" +
            "<'row'<'col-sm-12'B>>"
    });
    $("#hla_b_table").DataTable({
        iDisplayLength: 25,
        pagingType: "simple",
        aLengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
        dom: "<'row'<'col-sm-6'l><'col-sm-6'f>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-6'i><'col-sm-6'p>>" +
            "<'row'<'col-sm-12'B>>"
    });
    $("#hla_c_table").DataTable({
        iDisplayLength: 25,
        pagingType: "simple",
        aLengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
        dom: "<'row'<'col-sm-6'l><'col-sm-6'f>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-6'i><'col-sm-6'p>>" +
            "<'row'<'col-sm-12'B>>"
    });


    $('#hla_a_table_filter input[type="search"]').css({ 'width': '80px', 'display': 'inline-block' });
    $('#hla_b_table_filter input[type="search"]').css({ 'width': '80px', 'display': 'inline-block' });
    $('#hla_c_table_filter input[type="search"]').css({ 'width': '80px', 'display': 'inline-block' });
</script>
