<div class="col-lg-4" style="margin-bottom: 25px">
  <% hla_alleles = hla_counts.sum {|hla| hla[:y]} %>
  <div class="container">
    <table id="hla_<%=hla_gene.downcase%>_table" style="margin-left:auto; margin-right:auto" class="table table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th class="text-center">HLA-<%= hla_gene %></th>
        <th class="text-center">Count</th>
        <th class="text-center">%</th>
      </tr>
      </thead>
      <tbody>
      <% hla_counts.each do |hla| %>
        <tr>
          <td class="text-center"><%= hla[:name] %></td>
          <td class="text-center"><%= hla[:y] %></td>
          <td class="text-center"><%= format_pct(hla[:y], hla_alleles, 1)%></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
