<div id="selector_immune" class="btn-group">
  <button type="button" class="btn active btn-xs btn-toggle">Heatmap</button>
  <button type="button" class="btn btn-xs btn-toggle">Barplot</button>
</div>
<br />

<div id="immune_hmap_tab">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <%= tag.div id: "immune_hmap_container", style: "margin: auto; min-width: 100%; max-width: 100%; height: #{@hmap_height}px;", class: "",
                    data: {'title-text': "Immune Infiltrates", 'x-categories': @immune_samples, 'y-categories': @immune_cells,
                           'chart-series': @immune_hmap, 'hmap-min': @immune_hmap_min, 'hmap-max': @immune_hmap_max }  do %><% end %>
      </div>
    </div>
  </div>
</div>

<div id="immune_bar_tab" style="display:none">
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <%= tag.div id: "immune_chart_container", style: "height:#{@bar_height}px; margin: auto; min-width: 100%; max-width: 100%;", class: "",
                  data: {'title-text': "Immune Infiltrates", 'chart-colors': "#{PlotInfo::PLOT_COLORS[:cibersort_22]}",
                         'x-categories': @immune_samples, 'chart-series': @immune_perc}  do %><% end %>
    </div>
  </div>
</div>
</div>

<script>
    toggleDiv('selector_immune', 'immune_hmap_tab', 'immune_bar_tab')
</script>
