<div class="table-responsive" style="padding-left: 15px; padding-right: 15px;">
  <table id="mbiome_table" style="width:100%" class="table table-bordered table-condensed">
    <thead>
    <tr>
      <th colspan="2" class="text-center" bgcolor="#f7f7f7"></th>
      <th colspan="2" class="text-center" bgcolor="#f0f4e5">Phylum</th>
      <th colspan="3" class="text-center" bgcolor="#e5ecf4">Genus</th>
    </tr>
    <tr>
      <th class="text-center" bgcolor="#f7f7f7">Sample</th>
      <th class="text-center" bgcolor="#f7f7f7">Total reads</th>
      <th class="text-center" bgcolor="#f0f4e5">Proteobacteria Reads</th>
      <th class="text-center" bgcolor="#f0f4e5">% total</th>
      <th class="text-center" bgcolor="#e5ecf4">Helicobacter Reads</th>
      <th class="text-center" bgcolor="#e5ecf4">% phylum</th>
      <th class="text-center" bgcolor="#e5ecf4">% total</th>
    </tr>
    </thead>
    <tbody>
    <% @hpylori_table.each do |patient| %>
      <tr>
        <td class="text-center" bgcolor="#f7f7f7"><%= link_to patient[:sample_name],
                  sample_query_path(patient_id: patient[:patient_id], cancer_studies: [@cancer_study_id]) %></td>
        <td class="text-center" bgcolor="#f7f7f7"><%= patient[:all_rds] %></td>
        <td class="text-center" bgcolor="#f0f4e5"><%= patient[:proteo_rds] %></td>
        <td class="text-center" bgcolor="#f0f4e5"><%= patient[:p_pct] %></td>
        <td class="text-center" bgcolor="#e5ecf4"><%= patient[:helico_rds] ||= 0 %></td>
        <td class="text-center" bgcolor="#e5ecf4"><%= patient[:h_pct1] %></td>
        <td class="text-center" bgcolor="#e5ecf4"><%= patient[:h_pct2] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script>
    $("#mbiome_table").DataTable();
</script>
