<% if Portal::Config::Info['project'] == "gcr" %>
  <div id="selector_mbiome" class="btn-group">
    <button type="button" class="btn active btn-xs btn-toggle">Overview</button>
    <button type="button" class="btn btn-xs btn-toggle">H. pylori</button>
  </div>
  <br />
<% end %>

<div id="mbiome_plot_tab" class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <%= tag.div id: "mbiome_chart_container", style:"height:#{@mbar_height}px; margin: auto; min-width: 100%; max-width: 100%;", class: "",
                  data: {'title-text': "Microbiome Composition", 'chart-colors': "#{@mbiome_colors}",
                         'x-categories': @mbiome_samples, 'chart-series': @mbiome_perc}  do %><% end %>
    </div>
  </div>
</div>

<% if Portal::Config::Info['project'] == "gcr" %>
  <div id="mbiome_table_tab" style="display: none">
    <div class="col-lg-8" style="margin-bottom: 25px">
      <%= render "mbiome_table" %>
    </div>
  </div>

  <script>
    toggleDiv('selector_mbiome', 'mbiome_plot_tab', 'mbiome_table_tab');
  </script>
<% end %>