<div id="selector_samples" class="btn-group">
  <button type="button" class="btn active btn-xs btn-toggle">Overview</button>
  <button type="button" class="btn btn-xs btn-toggle">SampleList</button>
</div>
<br />
<div id="seq_overview">
  <div class="col-lg-6" style="margin-bottom: 25px">
    <div class="panel panel-default panel-body">
      <div id="sample_venn_container">
        <h3 class="center">Samples processed</h3>
        <% venn_image = "#{@selected_study.study}_#{@selected_study.cancer_abbr}_venn.png" %>
        <%= image_tag(venn_image, width: '500', height: '600', class: "img-responsive center-block") %>
      </div>
    </div>
  </div>
</div>

<div id="sample_list" style="display:none">
<div class="col-lg-6" style="margin-bottom: 25px">
  <div class="container">
    <table id="seq_table" style="margin-left:auto; margin-right:auto" class="table table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th class="text-center">Patient</th>
        <th class="text-center">Sample</th>
        <th class="text-center">Has WGS?</th>
        <th class="text-center">Has WES?</th>
        <th class="text-center">Has RNA?</th>
      </tr>
      <tr>
        <td>
          <input type="search" placeholder="Search patient" class="form-control">
        </td>
        <td>
          <input type="search" placeholder="Search sample" class="form-control">
        </td>
        <td>
          <%= select_tag('WGS_yn', options_for_select([["Yes", "Yes"], ["No", "No"]]), :include_blank => true,
                         :class => "form-control") %>
        </td>
        <td>
          <%= select_tag('WES_yn', options_for_select([["Yes", "Yes"], ["No", "No"]]), :include_blank => true,
                         :class => "form-control") %>
        </td>
        <td>
          <%= select_tag('RNA_yn', options_for_select([["Yes", "Yes"], ["No", "No"]]), :include_blank => true,
                         :class => "form-control") %>
        </td>
      </tr>
      </thead>
      <tbody>
      <% @cohort_samples.each do |sample| %>
        <tr>
          <td class="text-center"><%= sample.patient_nr %></td>
          <td class="text-center"><%= sample.sample_nr %></td>
          <td class="text-center"><%= humanize_boolean(sample.has_wgs?) %></td>
          <td class="text-center"><%= humanize_boolean(sample.has_wes?) %></td>
          <td class="text-center"><%= humanize_boolean(sample.has_rna?) %></td>
        </tr>
      <% end %>
      <tfoot>

      </tfoot>
      </tbody>
    </table>
  </div>
</div>
</div>

<script>
    toggleDiv('selector_samples', 'seq_overview', 'sample_list');

    oTable  = $("#seq_table").DataTable({
        dom: "<'row'<'col-sm-6'l>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-6'i><'col-sm-2'B><'col-sm-4'p>>",
        orderCellsTop: true
    });

    $( '#seq_table thead' ).on( 'keyup', "tr:eq(1) input", function () {
        oTable
            .column( $(this).parent().index() )
            .search( this.value )
            .draw();
    } );

    $("#seq_table thead").on( 'change', "tr:eq(1) select", function () {
        oTable
            .column( $(this).parent().index() )
            .search( this.value )
            .draw();
    } );

</script>
