<% onco_msg = '&#10035; <i>Gene is cancer-associated but not a known oncogene or tumor suppressor</i>' %>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-lg-6">
      <div class="jumbotron jumbotron-fluid jtron-table-head jtron-table-head-green">
        <div class="container">
          <h1 class="jtron-head-text">Top mutated genes</h1>
        </div>
      </div>
      <div class="container">
        <table id="mutations_table" style="margin-left:auto; margin-right:auto" class="table table-striped table-bordered table-condensed table-green table-fit">
          <thead>
          <tr>
            <th class="text-center">Rank</th>
            <th class="text-center">Gene</th>
            <th class="text-center">Cytoband</th>
            <th class="text-center">Onco-TSG?</th>
            <th class="text-center">#Samples</th>
            <th class="text-center">Pct</th>
          </tr>
          </thead>

          <tbody>
          <!-- iterate for each row of data -->
          <% @gene_mutations.each do |flds| %>
            <tr>
              <td class="text-center"><%= flds[0] %></td>
              <td class="text-center"><%= flds[1] %></td>
              <td class="text-center"><%= flds[3] %></td>
              <td class="text-center"><%= onco_tsg(flds[4], flds[5]) %></td>
              <td class="text-center"><%= flds[6] %></td>
              <td class="text-center"><%= format_pct(flds[6], @total_mut_samples) %></td>
            </tr>

          <% end %>
          </tbody>
          <tfoot>
          <tr><td colspan="6" class="text-center">Showing genes mutated in >= <%= @top_gene_thresholds[0] %>
                      (<%= format_pct(@top_gene_thresholds[0], @top_gene_thresholds[1]) %>%) samples, plus all cancer-associated genes
          </td></tr>
          <tr><td colspan="6" class="text-center"><%= onco_msg.html_safe %></td></tr>
          </tfoot>
        </table>
      </div>
    </div>
    

    <div class="col-lg-6">
      <div class="jumbotron jumbotron-fluid jtron-table-head jtron-table-head-blue">
        <div class="container">
          <h1 class="jtron-head-text">Top CNV genes</h1>
        </div>
      </div>

      <div class="container">
        <table id="cnv_table" style="margin-left:auto; margin-right:auto" class="table table-striped table-bordered table-condensed table-blue">

          <thead>
          <tr>
            <th class="text-center">Rank</th>
            <th class="text-center">Gene</th>
            <th class="text-center">Cytoband</th>
            <th class="text-center">Onco-TSG?</th>
            <th class="text-center">#Samples</th>
            <th class="text-center">Pct</th>
            <th class="text-center">Amp</th>
            <th class="text-center">Del</th>
          </tr>
          </thead>

          <tbody>
          <!-- iterate for each row of data -->
          <% @gene_cnvs.each do |flds| %>
            <tr>
              <td class="text-center"><%= flds[0] %></td>
              <td class="text-center"><%= flds[1] %></td>
              <td class="text-center"><%= flds[3] %></td>
              <td class="text-center"><%= onco_tsg(flds[4], flds[5]) %></td>
              <td class="text-center"><%= flds[6] %></td>
              <td class="text-center"><%= format_pct(flds[6], @total_cn_samples) %></td>
              <td class="text-center"><%= flds[7] %></td>
              <td class="text-center"><%= flds[8] %></td>
            </tr>
          <% end %>
          </tbody>
          <tfoot>
          <tr><td colspan="8" class="text-center">Showing genes with CNV in >= <%= @top_gene_thresholds[2] %>
            (<%= format_pct(@top_gene_thresholds[2], @top_gene_thresholds[3]) %>%) samples, plus all cancer-associated genes
          </td></tr>
          <tr><td colspan="8" class="text-center"><%= onco_msg.html_safe %></td></tr>
          </tfoot>
        </table>
      </div>
    </div>

  </div>
</div>
<script>
    $("#mutations_table").DataTable({
        dom: "<'row'<'col-sm-6'l><'col-sm-6'f>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-6'i><'col-sm-6'p>>" +
            "<'row'<'col-sm-12'B>>",
        pagingType: "full",
        columnDefs: [
            { targets: [1,2,3], searchable: true },
            { targets: '_all', searchable: false }
        ]
    });
    $("#cnv_table").DataTable({
        dom: "<'row'<'col-sm-6'l><'col-sm-6'f>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-6'i><'col-sm-6'p>>" +
            "<'row'<'col-sm-12'B>>",
        pagingType: "full",
        columnDefs: [
            { targets: [1,2,3], searchable: true },
            { targets: '_all', searchable: false }
        ]
    });
</script>
