<div style="padding-bottom: 30px">
  <div class="panel-body" style="background-color: #e5e5e5; padding-top: 0px; padding-bottom: 0px">
    <div class="col-md-12">
      <h5 style="font-size: 20px; text-align:left;float:left;"><strong>Explore Studies</strong></h5>
      <h5 style="font-size: 16px; text-align:right; float:right;"> <i>Human genome reference build: <strong>GRCh38</strong></i></h5>
      <hr style="border:0;">
      <h5 style="padding-left: 10px; font-size: 16px;">  <strong>Cancer(Study):</strong>&nbsp;   <%= @cancer %></h5>
      <h5 style="padding-left: 10px; font-size: 16px;">  <strong>Total number of samples in queried studies:</strong>&nbsp;  <%= @num_samples %></h5>
    </div><!-- /col -->
  </div><!-- /panel body -->
</div><!-- /alert -->

<div>
  <!-- for debug -->
</div><!-- /for debug -->

<ul class="nav nav-tabs" id="explore-query" role="tablist">

  <li class="nav-item active">
    <a class="nav-link" id="clinical_summary_tab" role="tab" data-toggle="tab" href="#clinical_summary">Clinical Parameters</a>
  </li>
  <% if @cohort_samples.size > 0 %>
  <li class="nav-item">
    <a class="nav-link" id="sample_info_tab" data-toggle="tab" href="#seq_summary" role="tab">Samples</a>
  </li>
  <% end %>
  <li class="nav-item">
    <a class="nav-link" id="cancer_summary_tab" data-toggle="tab" href="#cancer_summary" role="tab">Gene Summary</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="hla_summary_tab" role="tab" data-toggle="tab" href="#hla_summary">HLA Types</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="immune_summary_tab" role="tab" data-toggle="tab" href="#immune_summary">Immune Cells</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="mbiome_summary_tab" role="tab" data-toggle="tab" href="#mbiome_summary">Microbiome</a>
  </li>
</ul>

<div class="tab-content">
  <div id="clinical_summary" class="tab-pane active">
    <%= render "clinical_info", study_fmt: @study_fmt %>
  </div>

  <div id="seq_summary" class="tab-pane fade">
    <%= render 'sample_table' %>
  </div>

  <div id="cancer_summary" class="tab-pane fade">
    <%= render 'summary_info' %>
  </div><!-- /tab-pane for cancer summary -->

  <div id="hla_summary" class="tab-pane fade">
    <%= render 'hla_info' %>
  </div>

  <div id="immune_summary" class="tab-pane fade">
    <%= render 'immune_info' %>
  </div>

  <div id="mbiome_summary" class="tab-pane fade">
    <%= render 'mbiome_info' %>
  </div>
</div>

