/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require buttons.dataTables.min.css
 *= require_tree .
 *= require material_icons
 */

.table-borderless td,
.table-borderless th {
    border: 0 !important;
}

.tooltip-inner {
    max-width: 100% !important;
}

.white { background-color:#FFF !important}
.lightcyan { background-color:#E0FFFF !important}
.lightyellow { background-color:#FFFFE0 !important}
.lightgreen { background-color:#eafcea !important}
.lightpurple { background-color:#EFDCF9 !important}
.lightgrey { background-color:#F9F9F9 !important}
.medgrey { background-color:#f1f1f1 !important }

a.disable-tab, a:hover.disable-tab {
	color:#c0c0c0 !important;
  background-color: white !important;
}
