$stanford_red: #990000;
$grayMediumDark: #555;
$grayMedium: #999;
$grayMediumLight: #eaeaea;
$grayLight: #e5e5e5;
$testColor: #00ffbb;

@import "bootstrap-sprockets";
@import "bootstrap";

@import "colors/<%= Portal::Config::Info['project'] %>_colors";

/* universal */

html.html-page {
  overflow-y: scroll;
  position: relative;
  min-height: 100%;
}

body.body-page {
  /* Margin bottom by footer height */
  margin-bottom: 105px;
  /*padding-top: 60px;*/
}

.jumbotron-static {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }
  p, li, td {
    font-size: 16px;
    line-height: 1.25em;
    font-weight: 300;
  }
  th {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }
}
 
/* used with jumbotron */ 
.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5em;
  letter-spacing: -2px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  letter-spacing: -1px;
  font-weight: normal;
  color: $grayMediumDark;
}

h3 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  font-weight: normal;
}

p, li {
  font-size: 1em;
  line-height: 1.5em;
}


a, a:hover, a:active, a:visited { outline: none; }

/* header */
header {
  nav ul.nav li a.active {
    background-color: $themeCol2;
    color: black;
  }
  
  .navbar-text { 
    margin-top: 0;
    margin-bottom: 0;
    line-height:3;
  }
}


.navbar-top {
  background-color: $themeCol2;
  margin-bottom: 5px;
}

ul.hmenu {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;
}

.release-notes {
  margin-top: 0px;
  margin-left: 60px;
  font-size: 18px;
  font-weight: bolder;
  font-style: italic;
}

/* footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 105px;

  color: #aaa !important;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
    a {
    color: $link-color;
    &:hover {
      color: $link-hover-color;
      text-decoration:none;
    }  
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


/* containers */

.container {
  width: 100%;
}

.container-border{
  border: 4px solid $themeCol1;
  width: 100%;
}

.container-sidebar{
  border: 4px solid lightgray;
  width: 100%;
}

/* tabs */

.tab-pane { padding-top: 10px; }


/* navigation bar */

.nav.navbar-nav li, .nav.navbar-nav li a {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.nav.navbar-nav.navbar-right li a {
  font-size: 20px;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > li > a.selected {
  background-color: $themeCol1;
  color: white;
}

.navbar .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar .navbar-toggle {
  border-color: white;
}

.navbar .navbar-brand {
  padding: 4px;
}

.navbar .navbar-brand> img {
  padding: 1px;
  width: auto;
  height: 100%;
  margin-left:10%;
}

.navbar .navbar-imh {
  float: right;
  padding-right: 15px;
  padding-left: 30px;
}




/* navigation tabs */

.nav-tabs > li > a, .nav > li > a:hover, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-color: $themeCol1 $themeCol1 transparent;
  color: $themeCol1;
  font-size: 16px;
  font-weight: bold;
  border-width: 1.5px;
}

.nav-tabs > li.active > a:focus, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
  background-color: $themeCol1;
  color: white;
}




/* form elements */

.badge-header {
  font-size: 20px;
  width: 100% ;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: $themeCol1;
  margin-bottom: 5px;
  border-radius: 0;
  text-align: left;
}

.badge-sidebar {
  font-size: 20px;
  width: 100% ;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: lightgray;
  margin-bottom: 5px;
  border-radius: 0;
  text-align: center;
  color: black;
}

.badge-sidebar-subhead {
  font-size: 17px;
  width: 100% ;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: lightgray;
  margin-bottom: 5px;
  border-radius: 0;
  text-align: left;
  color: black;
}

.badge-mutn {
  font-size: 20px;
  border-radius: 5px;
  background-color: $themeCol2;
  width: 190px;
}

table.table-checkboxes {
  border-color:  $themeCol1;
  border-width: 5px;
  border-collapse: separate;
 }

table.table-checkboxes thead {
  background-color: $themeCol1;
  color: white;
}

.radio-label {
  font-size: 20px;
  vertical-align: middle;
}

.box-align .box-type {
  font-size: 18px;
  border-width: 5px;
  height: 42px;
  border-radius: 0px;
  border-color: $themeCol3;
}

.box-type:read-only {
  border-color: lightgrey;
}

.table .box-align {
  vertical-align: middle;
}

.footnotes {
  color: $grayMedium;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}



/* checkboxes */

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.regular-checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 8px solid #cacece;
  border-radius: 0px;
  display: inline-block;
  position: relative;
}

.regular-checkbox:checked:after {
  content: '\2714';
  font-size: 13px;
  position: absolute;
  top: -8px;
  left: -6px;
  color: black;
}


/* login classes */

.container-login {
  min-height: 100%;
  min-height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron-login {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  width: 460px;
}

.jumbotron-signup {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
}

.field-login {
  font-size: 18px;
}

.field-login-remember {
  font-size: 16px;
  margin-top: 5px;
}


.btn-login {
  background-color:$themeCol1;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

.btn-submit {
  background-color:$buttonCol;
}

.btn-query {
  color: #fff;
  background-color: $themeCol4;
  border-color: $themeCol4;
  border-radius: 3px;
  width: 175px;
  height: 40px;
}

.btn-explore {
  color: #fff;
  background-color: $themeCol2;
  border-color: $themeCol2;
  border-radius: 3px;
  padding: 10px;
  width: 152px;
  height: 33px;
}

.btn-explore:hover {
  color: #fff;
  background-color: $themeCol2;
  border-color: $themeCol2; /*set the color you want here*/
  outline:0;
}

.btn-explore:focus, .btn-explore:active, .btn-explore.active, .btn-explore.selected {
  color: #fff;
  background-color: $themeCol2;
  border-color: $themeCol2; /*set the color you want here*/
  outline:0 !important;
}


.btn-query:hover {
  color: #fff;
  background-color: $themeCol3;
  border-color: $themeCol3; /*set the color you want here*/
  outline:0;
}

.btn-query:focus, .btn-query:active, .btn-query.active, .btn-query.selected {
  color: #fff;
  background-color: $themeCol3;
  border-color: $themeCol3; /*set the color you want here*/
  outline:0 !important;
}

/* login error classes */

.jumbotron-error {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: red;
  h2 {
    margin-bottom: 10px;
  }
}

.glyphicon-exclamation-sign {
  font-size: 15px;
}

/* toggling */
.dropdown-toggle {
  font-size: 30px;
}

.btn-toggle { background-color: lightgray;
  font-size: 14px;
  color: $themeCol1;
  background-color: white;
  border-color: $themeCol1;
  border-width: 1px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 0;
}

.tab-pane .btn-group button:hover, .tab-pane .btn-group button.hover {
  color: $themeCol1;
  background-color: #eeeeee;
}

.tab-pane .btn-group button:focus, .tab-pane .btn-group button.focus, .tab-pane .btn-group button:active, .tab-pane .btn-group button.active {
  background-color: $themeCol1;
  color: white;
  box-shadow: none;
  outline: 0px;
}

.btn-group{
  display: flex;
}


.sample_n_font {
  text-align: right;
}

.material-icons {
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.custom-icons {
    vertical-align: middle;
    position: relative;
    top: -2px;
    left: -1px;
}


.btn-label {position: relative;
  display: inline-block;
  padding: 2.5px 4px;
  width: 44px;
  background: rgba(0,0,0,0.15);
  border-radius: 3px 0 0 3px;
  margin-right: 5px;
}

.btn-label-explore {position: relative;
  display: inline-block;
  padding: 2.5px 2.5px;
  width: 35px;
  height: 32px;
  background: rgba(0,0,0,0.15);
  border-radius: 3px 0 0 3px;
  margin-right: 0px;
}


.btn-labeled {padding-top: 0;
  padding-bottom: 0;
text-align: center;}

* {
  font-family: Helvetica, Arial, sans-serif;
}

.img-session-ipg {
  height:37px;
  margin-left: -42px;
}

.img-session-gcr {
  height:37px;
  margin-left: -11px;
}

.mut-text {
  color: $themeCol4;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.cnv-text {
  color: $themeCol2;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.table-green>tbody>tr:nth-child(odd)>td,
.table-green>tbody>tr:nth-child(odd)>th {
  background-color: $themeCol5; // Choose your own color here
}

.table-green.table-bordered{
  border:1px solid $themeCol5;
}
.table-green.table-bordered > thead > tr > th{
  border:1px solid $themeCol5;
}
.table-green.table-bordered > tbody > tr > td{
  border:1px solid $themeCol5;
}


.table-blue>tbody>tr:nth-child(odd)>td,
.table-blue>tbody>tr:nth-child(odd)>th {
  background-color: $themeCol6; // Choose your own color here
}

.table-blue.table-bordered{
  border:1px solid $themeCol6;
}
.table-blue.table-bordered > thead > tr > th{
  border:1px solid $themeCol6;
}
.table-blue.table-bordered > tbody > tr > td{
  border:1px solid $themeCol6;
}

.jumbotron.jtron-table-head {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  border-radius: 0px;
}

.jtron-table-head-green {
  background-color: $themeCol4;
}

.jtron-table-head-blue {
  background-color: $themeCol2;
}

.jtron-table-head {
  h1 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
  }
}

.btn-group-toggle {
  margin-top: 20px;
}


.box-align .box-drop {
  font-size: 18px;
  border-width: 5px;
  height: 42px;
  border-radius: 0px;
  border-color: lightgrey;
  color: $grayMedium;
}

.box-drop:focus {
  border-color: $themeCol3;
  background-color: white;
  color: black;
}


.popover {
  white-space: nowrap;
  max-width: none;
}

.btn-gene, .btn-gene:hover, .btn-gene:active, .btn-gene:visited {
  background-color: $grayMedium;
  border-radius: 0;
  outline: none !important;
  font-size: 18px;
}

.select-filter {
  border: 0 none;
  outline:0px;
  color: black;
  background: transparent;
  font-size: 16px;
  padding: 2px 10px;
  width: 250px;
  *width: 250px;
  *background: #e5e5e5;
  overflow: hidden;
  width: 250px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border-radius: 5px;
}
/* removed following line from .select-filter, arrow.gif not in assets */
/* background: url("arrow.gif") no-repeat scroll 250px 5px #e5e5e5; */

.btn-instruct, .btn-instruct:hover, .btn-instruct:active, .btn-instruct:visited {
  background-color: $grayMedium;
  border-radius: 0;
  outline: none !important;
  font-size: 18px;
  background-color: $themeCol3;
  border-radius: 5px;
  color: white !important;
}

