// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.welcome, li.welcome {
  font-size: .75em;
  line-height: 1.3em;
  color: #555;
}

p.info {
  font-size: .5em;
  line-height: 1em;
  font-style: italic;
  color: #555;
}

li.label { background-color: #d9edf7 }

.form-control, .form-group { font-size: 14px; font-weight: normal}

/*
.screen-reader {
    display: inline-block;
    font-size: 0;
    height: 1px;
    line-height: 0;
    overflow: hidden;
    position: absolute;
}
*/

h2.panel-title  { font-size: 1.1em; }
h3.panel-title  { font-size: .9em; }

.query-error {
  font-size: .75em;
  font-weight: normal;
  line-height: 1em;
  padding: 8px 4px !important;
}

.alert { 
  padding: 0; 
  margin-top:10px;
  margin-bottom:0;
}
