<div id="selector_cn" class="btn-group">
  <button type="button" class="btn active btn-xs btn-toggle">Percent</button>
  <button type="button" class="btn btn-xs btn-toggle">Count</button>
</div>
<br />
<div id="cn_perc">
  <% if @cn_counts_perc%>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <%= tag.div id: "gene_cn_perc_chart_container", style: "height:#{@chart_height}; margin: auto; min-width: 100%; max-width: 100%;", class: "",
                      data: {'title-text': '% of samples', 'chart-colors': PlotInfo.cnv_colors,
                             'x-categories': @categories, 'chart-series': @cn_counts_perc} do %><% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div id="cn_counts" style="display:none">
  <% if @cn_counts%>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <%= tag.div id: "gene_cn_chart_container", style: "height:#{@chart_height}; margin: auto; min-width: 100%; max-width: 100%;", class: "",
                      data: {'title-text': 'Number of samples', 'chart-colors': PlotInfo.cnv_colors,
                             'x-categories': @categories, 'chart-series': @cn_counts} do %><% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
    toggleDiv('selector_cn', 'cn_perc', 'cn_counts');
</script>