<div class="table-responsive" style="padding-left: 15px; padding-right: 15px;">
  <table id="cn_summary_table_genes" data-formqueryrequest="" class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
      <% SampleCnv::TABLE_HDGS.each do |hdg| %>
        <th class="text-center"><%= hdg %></th>
      <% end%>
    </tr>
    </thead>

    <tbody>
    <!-- iterate for each row of data -->
    <% gene_cn_data.each do |cnv| %>
      <tr>
        <!-- iterate for each column -->
        <% SampleCnv::TABLE_FLDS.each_with_index do |fld, i| %>
          <% col = col_indices[i] %>
          <% if fld=='copy_num' %>
            <% cn_type = cnv[col] == 1 ? 'amp' : 'del' %>
            <td class="text-center"><%= cn_type %></td>
          <% else %>
            <td class="text-center"><%= cnv[col]%></td>
          <% end #/ifelse for amp/del alteration %>
        <% end # /gene_cn_data (columns) %>
      </tr>
    <% end # /gene_cn_data (rows) %>
    </tbody>
  </table>
</div>

<script>
    $("#cn_summary_table_genes").DataTable({
        columnDefs: [
            { targets: [5,6], searchable: false },
            { targets: '_all', searchable: true }
        ]
    });
</script>
