<div class="table-responsive" style="padding-left: 15px; padding-right: 15px;">
  <table id="expression_summary_table_genes" data-formqueryrequest="" class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
      <% SampleRnaExpr::TABLE_HDGS.each do |hdg| %>
        <th class="text-center"><%= hdg.humanize %></th>
      <% end%>
    </tr>
    </thead>
    <tbody>
    <!-- iterate for each row of data -->
    <% gene_exp_data.each do |rna| %>
      <tr>
        <!-- iterate for each column, then get value -->
        <% SampleRnaExpr::TABLE_FLDS.each do |fld| %>
          <td class="text-center"><% model_rec = ['cancer_abbr', 'study'].include?(fld) ? rna.cancer_study : rna %><%= model_rec.send(fld) %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script>
    $("#expression_summary_table_genes").DataTable({
        columnDefs: [
            { targets: [5,6], searchable: false },
            { targets: '_all', searchable: true }
        ]
    });
</script>
