<% nr_plots = (boxplot_data.nil? ? 0 : boxplot_data.size) %>

<% if nr_plots > 0 %>
    <!-- block for chart -->
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <%= tag.div id: "fpkm_gene_boxplots",
                      data: { count: nr_plots, x_categories: @cstudies, 'y-title': 'Expression (FPKM)',
                             'chart-colors': "#{PlotInfo::PLOT_COLORS[:box_plot]}"} do %><% end %>

          <% col_width = 12/nr_plots %>
          <% boxplot_data.each_with_index do |boxdata, idx| %>
              <%= tag.div id: "fpkm_gene_boxplot_container_#{idx}", class: "col-md-#{col_width}",
                              style: "height: 300px; margin: auto; min-width: 370px; max-width: 370px; padding-right: 0; padding-left: 0;",
                              data: { 'title-text': boxdata[:name], 'chart-series': boxdata } do %><% end %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>

<script>
    // Expression box plots for individual genes
    $(function() {
        nr_plots = $('#fpkm_gene_boxplots').data('count');
        $.each( Array(nr_plots).fill(), function( idx, val ) {
            box_plot_options = hc_array_box_plot('fpkm_gene_boxplot_container_'+idx, 'fpkm_gene_boxplots')
            new Highcharts.Chart(box_plot_options);
        });
    })
</script>

<!-- series:  [{name: 'TP53', data: [[0.67, 18.75, 30.45, 40.11, 72.15]]}] -->
