<% if boxplot_data and !boxplot_data.empty? %>

    <!-- block for chart -->
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <% @width =  (200 + @num_cancers*250).to_i %>
          <%= tag.div id: "fpkm_summary_boxplot_container",
                      style: "height:400px; margin: auto; min-width: 100%; max-width: 100%;",
                      data: {'x-categories': @cstudies, 'chart-series': boxplot_data,  'chart-width': @width,
                             'title-text': '', 'y-title': 'Expression (FPKM)',
                             'chart-colors': "#{PlotInfo::PLOT_COLORS[:box_plot]}"} do %><% end %>
        </div>
      </div>
    </div>
<% end %>
