  <thead>
    <tr>
      <th class="text-center white" style="border-top:1px solid white; border-left:1px solid white" colspan="4"></th><!-- leave blank -->
      <th class="text-center medgrey" style="font-size:18px" colspan="5">Mutations&sup1</th>
      <th class="text-center" style="font-size:18px" colspan="4">Copy Number</th>
      <th class="text-center medgrey" style="font-size:18px" colspan="5">Expression</th>
    </tr>

    <tr>
      <th class="text-center">Study</th>
      <th class="text-center">Cancer</th>
      <th class="text-center">Gene</th>
      <th class="text-center">Total Samples</th>

      <th class="text-center medgrey">Total WES samples</th>
      <th class="text-center medgrey">Mut samples</th>
      <th class="text-center medgrey">Missense mutations</th>
      <th class="text-center medgrey">Frameshift mutations</th>
      <th class="text-center medgrey">Other mutations</th>

      <th class="text-center">Total CN samples</th>
      <th class="text-center">Samples with CNV</th>
      <th class="text-center">CN amps</th>
      <th class="text-center">CN dels</th>

      <th class="text-center medgrey">Total RNAseq samples</th>
      <th class="text-center medgrey">Expressed samples</th>
      <th class="text-center medgrey">High exp samples</th>
      <th class="text-center medgrey">Medium exp samples</th>
      <th class="text-center medgrey">Low exp samples</th>
    </tr>
  </thead>

  <tbody>
    <% genomic_summary.each do |gsum| %>
        <tr>
          <% study_num = @selected_studies.find(gsum.cancer_study_id) %>
          <td class="text-center"><%= gsum.cancer_study.study %></td>
          <td class="text-center"><%= gsum.cancer_study.cancer_abbr %></td>
          <td class="text-center"><%= gsum.gene_name %></td>
          <td class="text-center"><%= study_num.total_samples %></td>

          <td class="medgrey text-center"><%= study_num.num_mut_samples %></td>
          <td class="medgrey text-center"><%= gsum.tot_mut_sample %></td>
          <td class="medgrey text-center"><%= gsum.num_missense %></td>
          <td class="medgrey text-center"><%= gsum.num_frameshift %></td>
          <td class="medgrey text-center"><%= gsum.summary_other_mut %></td>

          <td class="text-center"><%= study_num.num_cn_samples %></td>
          <td class="text-center"><%= gsum.tot_cnv_sample %></td>
          <td class="text-center"><%= gsum.num_amp_sample %></td>
          <td class="text-center"><%= gsum.num_del_sample %></td>

          <td class="medgrey text-center"><%= study_num.num_rna_samples %></td>
          <td class="medgrey text-center"><%= gsum.tot_rna_sample %></td>
          <td class="medgrey text-center"><%= gsum.num_high_exp_sample %></td>
          <td class="medgrey text-center"><%= gsum.num_medium_exp_sample %></td>
          <td class="medgrey text-center"><%= gsum.num_low_exp_sample %></td>
        </tr>
     <% end # /records %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="18" style="text-align: center" class="footnotes"><sup style="font-size:75%">1</sup>Multiple mutation types per sample/gene will result in number of mutated samples < total mutations</td>
    </tr>
  </tfoot>

  <script>
      $("#genomic_summary_table_genes").DataTable({
              buttons: [],
              ordering: true,
              paging: false,
              info: false,
              searching: false
          });
  </script>
