<thead>
<tr>
  <th class="text-center white" style="border-top:1px solid white; border-left:1px solid white" colspan="4"></th><!-- leave blank -->
  <th class="text-center medgrey" style="font-size:18px" colspan="5">Mutation</th>
  <th class="text-center" style="font-size:18px" colspan="4">Copy Number</th>
  <th class="text-center medgrey" style="font-size:18px" colspan="5">Expression</th>
</tr>

<tr>
  <th class="text-center">Study</th>
  <th class="text-center">Cancer</th>
  <th class="text-center">Gene</th>
  <th class="text-center">Total Samples</th>

  <th class="text-center medgrey">Total WES samples</th>
  <th class="text-center medgrey">% Mut samples</th>
  <th class="text-center medgrey">% Missense mutations</th>
  <th class="text-center medgrey">% Frameshift mutations</th>
  <th class="text-center medgrey">% Other mutations</th>

  <th class="text-center">Total CN samples</th>
  <th class="text-center">% Samples with CNV</th>
  <th class="text-center">% CN amps</th>
  <th class="text-center">% CN dels</th>

  <th class="text-center medgrey">Total RNAseq samples</th>
  <th class="text-center medgrey">% Expressed samples</th>
  <th class="text-center medgrey">% High exp samples</th>
  <th class="text-center medgrey">% Medium exp samples</th>
  <th class="text-center medgrey">% Low exp samples</th>
</tr>
</thead>

<tbody>
<% genomic_summary.each do |gsum| %>
  <tr>
    <% study_nums = @selected_studies.find(gsum.cancer_study_id) %>
    <td class="text-center"><%= gsum.cancer_study.study %></td>
    <td class="text-center"><%= gsum.cancer_study.cancer_abbr %></td>
    <td class="text-center"><%= gsum.gene_name %></td>
    <td class="text-center"><%= study_nums.total_samples %></td>

    <td class="medgrey text-center"><%= study_nums.num_mut_samples %></td>
    <td class="medgrey text-center"><%= format_pct(gsum.tot_mut_sample, study_nums.num_mut_samples) %></td>
    <td class="medgrey text-center"><%= format_pct(gsum.num_missense, study_nums.num_mut_samples) %></td>
    <td class="medgrey text-center"><%= format_pct(gsum.num_frameshift, study_nums.num_mut_samples) %></td>
    <td class="medgrey text-center"><%= format_pct(gsum.summary_other_mut, study_nums.num_mut_samples) %></td>

    <td class="text-center"><%= study_nums.num_cn_samples %></td>
    <td class="text-center"><%= format_pct(gsum.tot_cnv_sample, study_nums.num_cn_samples) %></td>
    <td class="text-center"><%= format_pct(gsum.num_amp_sample, study_nums.num_cn_samples) %></td>
    <td class="text-center"><%= format_pct(gsum.num_del_sample, study_nums.num_cn_samples) %></td>

    <td class="medgrey text-center"><%= study_nums.num_rna_samples %></td>
    <td class="medgrey text-center"><%= format_pct(gsum.tot_rna_sample, study_nums.num_rna_samples) %></td>
    <td class="medgrey text-center"><%= format_pct(gsum.num_high_exp_sample, study_nums.num_rna_samples) %></td>
    <td class="medgrey text-center"><%= format_pct(gsum.num_medium_exp_sample, study_nums.num_rna_samples) %></td>
    <td class="medgrey text-center"><%= format_pct(gsum.num_low_exp_sample, study_nums.num_rna_samples) %></td>
  </tr>
<% end # /records %>
</tbody>

<script>
    $("#genomic_summary_table_genes_perc").DataTable({
            buttons: [],
            ordering: true,
            paging: false,
            info: false,
            searching: false
        });
</script>
