<div id="selector_mutation" class="btn-group">
  <button type="button" class="btn active btn-xs btn-toggle">Percent</button>
  <button type="button" class="btn btn-xs btn-toggle">Count</button>
</div>
<br />

<div id="mutation_perc">
  <% if @mut_counts_perc%>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <%= tag.div id: "gene_mutation_perc_chart_container", style: "height:#{@chart_height}; margin: auto; min-width: 100%; max-width: 100%;", class: "",
                        data: {'title-text': '% of samples', 'chart-colors': mutation_bar_colors(9),
                               'x-categories': @categories, 'chart-series': @mut_counts_perc} do %><% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>

<div id="mutation_counts" style="display:none">
  <% if @mut_counts%>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <%= tag.div id: "gene_mutation_chart_container", style: "height:#{@chart_height}; margin: auto; min-width: 100%; max-width: 100%;", class: "",
                      data: {'title-text': 'Number of samples', 'chart-colors': mutation_bar_colors(9),
                             'x-categories': @categories, 'chart-series': @mut_counts} do %><% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
    toggleDiv('selector_mutation', 'mutation_perc', 'mutation_counts');
</script>
