<% nr_mut_samples = gene_mut_data.map{|gs| gs[6]}.uniq.size %>

<div class="table-responsive" style="padding-left: 15px; padding-right: 15px;">
  <table id="mutation_summary_table_genes" data-formqueryrequest="" class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
      <% col_indices.each do |i| %>
        <th class="text-center"><%= SampleMutation::TABLE_HDGS[i[0]] %></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <!-- iterate for each row of data -->
    <% gene_mut_data.each do |mutation| %>
      <tr>

        <!-- iterate for each column, then get value -->
        <% col_indices.each do |i| %>
          <% fld = SampleMutation::TABLE_FLDS[i[0]] %>
          <% col = i[1] %>
          <% if ['ref_allele', 'alt_allele'].include?(fld) and mutation[col].length > 4 %>
            <td class="text-center text-nowrap">
              <button class="btn btn-xs btn-default long-indel" data-toggle="tooltip" title="<%= mutation[col] %>">
                <%= truncate_with_ellipsis(mutation[col]) %></button></td>
          <% elsif fld == 'chr_start' %>
            <td class="text-center text-nowrap"><%= mutation[col]+1 %></td>
          <% elsif fld == 'copy_num' %>
            <% cn_type = mutation[col] == 1 ? 'amp' : (mutation[col] == -1 ? 'del' : '') %>
            <td class="text-center"><%= cn_type %></td>
          <% elsif fld == 'mutation_tpm' %>
            <td class="text-center"><%= mutation[col].nil? ? '' : mutation[col].round(1) %></td>
          <% else %>
            <td class="text-center text-nowrap"><%= mutation[col] %></td>
          <% end %>

        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>


<script>
    indelTooltip();
    $("#mutation_summary_table_genes").DataTable({
        columnDefs: [
            { type: 'natural', targets: 6 },
            { targets: [8], sortable: false },
            { targets: [8,10,13,14], searchable: false },
            { targets: '_all', searchable: true, sortable: true }
        ]
    });
</script>
