<% nr_neoantigen_samples = gene_neoantigens.map{|gs| gs[6]}.uniq.size %>
<div class="col-md-12">
  <h5 style="font-size: 16px; padding-bottom: 10px"><strong>Number of samples with neoantigens:</strong>&nbsp;<%= nr_neoantigen_samples %></h5>
</div>

<div class="table-responsive" style="padding-left: 15px; padding-right: 15px;">
  <table id="neoantigen_summary_table_genes" data-formqueryrequest="" class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
      <% col_indices.each do |i| %>
        <% hdg = SampleMutation::TABLE_HDGS[i[0]] %>
        <!-- Add calculated binding strength column prior to binding rank -->
        <% if hdg == 'BindingRank' %><th class="text-center">BindingStrength</th><% end %>
        <th class="text-center"><%= SampleMutation::TABLE_HDGS[i[0]] %></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <!-- iterate for each row of data -->
    <% gene_neoantigens.each do |neoantigen| %>
      <tr>
        <!-- iterate for each column, then get value -->
        <% col_indices.each do |i| %>
          <% fld = SampleMutation::TABLE_FLDS[i[0]] %>
          <% col = i[1] %>
          <% if fld == 'ref_alt' and neoantigen[col].length > 8 %>
            <td class="text-center text-nowrap"><button class="btn btn-xs btn-default" data-toggle="popover" title="<%= neoantigen[col] %>">
              <%= neoantigen[col].strip.truncate(8, omission: '...') %></button>
            </td>
          <% else %>
            <!-- Add calculated binding strength column prior to binding rank -->
            <% if fld == 'binding_rank' %>
              <% binding_color_neo = hla_bind_strength(neoantigen[col]) == 'strong' ? '#f00' : '#0000FF' %>
              <td class="text-center" style="color: <%= binding_color_neo %>"><%= hla_bind_strength(neoantigen[col]) %></td>
            <% end %>

            <td class="text-center text-nowrap"><%= neoantigen[col] %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script>
    $("#neoantigen_summary_table_genes").DataTable({
        columnDefs: [
            { targets: [0,1,2,3,4,5,9,10,11,12], searchable: true },
            { targets: '_all', searchable: false, sortable: true }
        ]
    });
</script>
