<div id="selector_summary" class="btn-group">
  <button type="button" class="btn active btn-xs btn-toggle">Percent</button>
  <button type="button" class="btn btn-xs btn-toggle">Count</button>
</div>
<br />

<div id="summary_counts" style="display:none">
  <% if @counts%>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <%= tag.div id: "gene_summary_chart_container", style: "height:#{@chart_height}; margin: auto; min-width: 100%; max-width: 100%;", class: "",
                      data: {'title-text': "Number of samples", 'chart-colors': "#{mutation_bar_colors(8)}",
                             'x-categories': @categories, 'chart-series': @summ_counts}  do %><% end %>
        </div>
      </div>
    </div>
  <% end %>
  <br>
  <div class="table-responsive" style="padding-left: 15px; padding-right: 15px;">
    <table id="genomic_summary_table_genes" class="table table-striped table-bordered table-condensed">
      <%= render 'genomic_summary_table_genes', genomic_summary: @gene_summary %>
    </table>
  </div>
</div>

<div id="summary_perc">
  <% if @counts_perc%>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <%= tag.div id: "gene_summary_perc_chart_container", style: "height:#{@chart_height}; margin: auto; min-width: 100%; max-width: 100%;", class: "",
                      data: {'title-text': '% of samples', 'chart-colors': "#{mutation_bar_colors(8)}",
                             'x-categories': @categories, 'chart-series': @summ_counts_perc} do %><% end %>
        </div>
      </div>
    </div>
  <% end %>
  <br>

  <div class="table-responsive" style="padding-left: 15px; padding-right: 15px;">
    <table id="genomic_summary_table_genes_perc" class="table table-striped table-bordered table-condensed">
      <%= render 'genomic_summary_table_genes_perc', genomic_summary: @gene_summary %>
    </table>
  </div>
</div>

<script>
    toggleDiv('selector_summary', 'summary_perc', 'summary_counts');
</script>