<% @chart_height = (@num_categories < 10 ? (125 + @num_categories*50).to_s + 'px' : (100 + @num_categories*30).to_s + 'px') %>
<% @categories = @categories.collect{|cat| cat.gsub(/\[(\w+)\]/, '<span style="font-weight: bold">\1</span>') } %>
<%= tag.div id: "bar_chart_options", data: {'point-width': (@num_categories < 10 ? 30 : 20)}  do %><% end %>

<div style="padding-bottom: 30px">
  <div class="panel-body" style="background-color: #e5e5e5; padding-top: 0px; padding-bottom: 0px">
    <div class="col-md-12">
      <h5 style="font-size: 20px; text-align:left;float:left;"><strong>Gene Query</strong></h5>
      <h5 style="font-size: 16px; text-align:right; float:right;">  <i>Human genome reference build: <strong>GRCh38</strong></i></h5>
      <hr style="border:0;">
      <h5 style="padding-left: 10px; font-size: 16px; ">  <strong>Genes:</strong>&nbsp;   <%= @genes.join(', ') %></h5>
      <h5 style="padding-left: 10px; font-size: 16px;">  <strong>Cancer(Study):</strong>&nbsp;   <%= @cancers.join(', ') %></h5>
      <h5 style="padding-left: 10px; font-size: 16px;">  <strong>Total number of samples in queried studies:</strong>&nbsp;  <%= @num_samples %></h5>
      <% if @num_samples > @sample_limit %>
        <em><strong>Only summary information is provided when more than <%= @sample_limit %> samples are returned</strong></em>
      <% end %>
    </div><!-- /col -->
  </div><!-- /panel body -->
</div><!-- /alert -->

<div>
  <!-- for debug -->
</div><!-- /for debug -->

<ul class="nav nav-tabs" id="gene-genomic-query" role="tablist">

  <li class="active nav-item">
    <a class="nav-link active" id="genomic_summary_tab" data-toggle="tab" href="#genomic_summary" role="tab">Summary</a>
  </li>

  <% if @num_samples < @sample_limit +1  %>
    <li class="nav-item">
      <a class="nav-link" id="mutation_summary_tab" role="tab" data-toggle="tab" href="#mutation_summary">Mutation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="cn_summary_tab" role="tab" data-toggle="tab" href="#cn_summary">Copy Number</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="expression_summary_tab" role="tab" data-toggle="tab" href="#expression_summary">Expression</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="neoantigen_summary_tab" role="tab" data-toggle="tab" href="#neoantigen_summary">Neoantigens</a>
    </li>

  <% else %>
    <li class="nav-item">
      <a class="disable-tab" id="mutation_summary_tab" role="tab">Mutation</a>
    </li>
    <li class="nav-item">
      <a class="disable-tab" id="cn_summary_tab" role="tab">Copy Number</a>
    </li>
    <li class="nav-item">
      <a class="disable-tab" id="expression_summary_tab" role="tab">Expression</a>
    </li>
    <li class="nav-item">
      <a class="disable-tab" id="neoantigen_summary_tab" role="tab">Neoantigens</a>
    </li>
  <% end %>
</ul>

<div class="tab-content">
  <div id="genomic_summary" class="tab-pane active">
    <%= render 'summary_info' %>
  </div><!-- /tab-pane for genomic summary -->

  <div id="mutation_summary" class="tab-pane fade">
    <%= render 'mutation_plots' %>
    <br />
    <% if @gene_mut_data %>
        <%= render 'mutation_summary_table_genes', col_indices: @gene_mut_data[0], gene_mut_data: @gene_mut_data[1] %>
    <% end %>
  </div>

  <div id="cn_summary" class="tab-pane fade">
    <%= render 'cn_plots' %>
    <br />
    <% if @gene_cn_data %>
      <%= render 'cn_summary_table_genes', col_indices: @gene_cn_data[0], gene_cn_data: @gene_cn_data[1] %>
    <% end %>
  </div>

  <div id="expression_summary" class="tab-pane fade">
    <% if @genes.size>1%>
      <div id="selector" class="btn-group">
        <button type="button" class="btn active btn-xs btn-toggle">All genes</button>
        <button type="button" class="btn btn-xs btn-toggle">By gene</button>
      </div>
      <br />
    <% end %>
    <div id="exp_plot_comb">
      <% if @boxplot_data %><%= render 'expression_plot_summary', boxplot_data: @boxplot_data %><% end %>
    </div>
    <% if @genes.size>1%>
      <div id="exp_plot_gene" style="display:none">
        <% if @boxplot_data %><%= render 'expression_plot_per_gene', boxplot_data: @boxplot_data %><% end %>
      </div>
    <% end %>
    <br />
    <% if @gene_exp_data %>
      <%= render 'expression_summary_table_genes', gene_exp_data: @gene_exp_data %>
    <% end %>
  </div>

  <div id="neoantigen_summary" class="tab-pane fade">
    <% if @gene_neoantigens %>
      <%= render 'neoantigen_summary_table_genes', col_indices: @gene_neoantigens[0], gene_neoantigens: @gene_neoantigens[1] %>
    <% end %>
  </div>
</div>
<!-- Javascript for visuals -->
<script>
  toggleDiv('selector', 'exp_plot_comb', 'exp_plot_gene');
</script>
