<!-- Footer -->
<div style="margin-top: 20px;">
<footer class="sticky-footer">
  <!-- Footer Links -->
  <div class="container-fluid text-center">
    <!-- Grid row -->
    <div class="row">
      Copyright © 2020 CancerGenomePortal Project - Stanford School of Medicine - Ji Research Group |
      <%= link_to "Terms of Use", 'https://www.stanford.edu/site/terms/', target: :_blank %> |
      <%= link_to "Privacy", 'https://www.stanford.edu/site/privacy/', target: :_blank %>
    </div>

    <% if Portal::Config::Info['footer_image'] %>
    <div class="row" style="margin-top: -20px">
      <%= link_to image_tag("ji_research_group_logo.png", width:"300", class: "img", style: "margin-left: 3px; margin-bottom: -10px;"), 'https://dna-discovery.stanford.edu/', target: :_blank %>
      <%= link_to image_tag(Portal::Config::Info['footer_image'], width:"220", class: "img", style: "margin-left: 3px; margin-bottom: -19px;"), Portal::Config::Info['footer_href'], target: :_blank %>
    </div>

    <% else %>
    <%= link_to image_tag("ji_research_group_logo.png", width:"300", class: "img", style: "margin-left: 3px; margin-bottom: -10px;"), 'https://dna-discovery.stanford.edu/', target: :_blank %>
    <% end %>

  </div>
</footer>
</div>