<header style="margin-bottom: 50px">
  <nav class="navbar navbar-top" role="navigation" style="color: black;">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <%= link_to image_tag(Portal::Config::Info['favicon'], alt: "Brand"), root_path, :class=>'navbar-brand' %>
        <%= link_to Portal::Config::Info['base_title'], root_path, class: 'navbar-brand', style: 'font-size: 24px; margin-left: 5px; align-items: center; display: flex; color: white;' %>
      </div>

      <%= link_to image_tag(Portal::Config::Info['header_image'], alt: "Brand"), Portal::Config::Info['header_href'], :class=>'navbar-brand navbar-imh', target: :_blank %>
      <% if Portal::Config::Info['login_required'] %>
        <%= render 'layouts/navbar_hdr_login' %>
      <% else %>
        <%= render 'layouts/navbar_hdr_info' %>
      <% end %>

    </div><!-- /.container-fluid -->
  </nav>
  <% if Portal::Config::Info['project'] == 'gcr' %>
    <div class="release-notes">Data release <%= Cohort.latest_release[0] %> (<%= Cohort.latest_release[1].strftime("%b %Y") %>)</div>
  <% end %>
</header>

