<% if user_signed_in? %>
  <ul class="nav navbar-nav navbar-right">

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size: 20px;">Project info <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "Project overview",  project_overview_path, class:(request.fullpath == project_overview_path ? "selected" : ''), style: 'font-size: 16px; color: black; font-weight: normal;' %></li>
        <li><%= link_to "Data releases",  data_release_path, class:(request.fullpath == data_release_path ? "selected" : ''), style: 'font-size: 16px; color: black; font-weight: normal;' %></li>
        <li><%= link_to "Contact", contact_path, class:(request.fullpath == contact_path ? "selected" : ''), style: 'font-size: 16px; color: black; font-weight: normal;' %></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size: 20px;"><%= current_user.email %> <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Edit user profile', edit_user_registration_path, style:'font-size: 16px; color: black; font-weight: normal;' %></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, style:'font-size: 16px; color: black; font-weight: normal;' %></li>
      </ul>
    </li>
  </ul>
<% end %>
