<ul class="nav navbar-nav navbar-right" style="font-size:28px;color:white;">
  <li style="font-size:28px; color:white;"><%= link_to "Project overview",  project_overview_path, class:(request.fullpath == project_overview_path ? "selected" : '') %></li>
  <li style="font-size:28px; color:white;"><%= link_to "Data releases",  data_release_path, class:(request.fullpath == data_release_path ? "selected" : '') %></li>
  <li style="font-size:28px; color:white;"><%= link_to "Contact", contact_path, class:(request.fullpath == contact_path ? "selected" : '') %></li>
</ul>
