<!DOCTYPE html>
<html class="html-page">
  <head>

    <title><%= full_title(yield(:title)) %></title>



    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag asset_path(Portal::Config::Info['favicon']) %>

    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>

  <body data-controller="<%=controller_name%>" data-action="<%=action_name%>" class="<%= controller.controller_name %> body-page">

  <%= render 'layouts/header' %>

  <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
  </div>
  </body>
</html>
